<mat-card>
  <mat-card-title>
    ContributionSoft
  </mat-card-title>
  <mat-form-field>
    <mat-label>Soft Contribution ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="contributionSoft.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Contribution - Contribution</mat-label>
    <input matInput type="text" id="contribution_id" [(ngModel)]="contributionSoft.contribution_id" name="contribution_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="contributionSoft.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Contribution Amount</mat-label>
    <input matInput type="text" id="amount" [(ngModel)]="contributionSoft.amount" name="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Contribution Currency</mat-label>
    <input matInput type="text" id="currency" [(ngModel)]="contributionSoft.currency" name="currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Contribution PCP</mat-label>
    <input matInput type="text" id="pcp_id" [(ngModel)]="contributionSoft.pcp_id" name="pcp_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Contribution Display on PCP</mat-label>
    <input matInput type="text" id="pcp_display_in_roll" [(ngModel)]="contributionSoft.pcp_display_in_roll" name="pcp_display_in_roll">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Contribution PCP Nickname</mat-label>
    <input matInput type="text" id="pcp_roll_nickname" [(ngModel)]="contributionSoft.pcp_roll_nickname" name="pcp_roll_nickname">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Contribution PCP Note</mat-label>
    <input matInput type="text" id="pcp_personal_note" [(ngModel)]="contributionSoft.pcp_personal_note" name="pcp_personal_note">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soft Credit Type</mat-label>
    <input matInput type="text" id="soft_credit_type_id" [(ngModel)]="contributionSoft.soft_credit_type_id" name="soft_credit_type_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-contribution-soft">
  <div class="entity-title"></div>
</div>
