<mat-card>
  <mat-card-title>
    MappingField
  </mat-card-title>
  <mat-form-field>
    <mat-label>Mapping Field ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="mappingField.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mapping ID</mat-label>
    <input matInput type="text" id="mapping_id" [(ngModel)]="mappingField.mapping_id" name="mapping_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="mappingField.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type</mat-label>
    <input matInput type="text" id="contact_type" [(ngModel)]="mappingField.contact_type" name="contact_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Column Number</mat-label>
    <input matInput type="text" id="column_number" [(ngModel)]="mappingField.column_number" name="column_number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location type ID</mat-label>
    <input matInput type="text" id="location_type_id" [(ngModel)]="mappingField.location_type_id" name="location_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone type ID</mat-label>
    <input matInput type="text" id="phone_type_id" [(ngModel)]="mappingField.phone_type_id" name="phone_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>IM provider ID</mat-label>
    <input matInput type="text" id="im_provider_id" [(ngModel)]="mappingField.im_provider_id" name="im_provider_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Website type ID</mat-label>
    <input matInput type="text" id="website_type_id" [(ngModel)]="mappingField.website_type_id" name="website_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship type ID</mat-label>
    <input matInput type="text" id="relationship_type_id" [(ngModel)]="mappingField.relationship_type_id" name="relationship_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Direction</mat-label>
    <input matInput type="text" id="relationship_direction" [(ngModel)]="mappingField.relationship_direction" name="relationship_direction">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grouping</mat-label>
    <input matInput type="text" id="grouping" [(ngModel)]="mappingField.grouping" name="grouping">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Operator</mat-label>
    <input matInput type="text" id="operator" [(ngModel)]="mappingField.operator" name="operator">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Value</mat-label>
    <input matInput type="text" id="value" [(ngModel)]="mappingField.value" name="value">
  </mat-form-field>
  
</mat-card>
<div class="component component-mapping-field">
  <div class="entity-title"></div>
</div>
