<mat-card>
  <mat-card-title>
    Website
  </mat-card-title>
  <mat-form-field>
    <mat-label>Website ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="website.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="website.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Website</mat-label>
    <input matInput type="text" id="url" [(ngModel)]="website.url" name="url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Website Type</mat-label>
    <input matInput type="text" id="website_type_id" [(ngModel)]="website.website_type_id" name="website_type_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-website">
  <div class="entity-title"></div>
</div>
