<mat-card>
  <mat-card-title>
    UFJoin
  </mat-card-title>
  <mat-form-field>
    <mat-label>UF Join ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="uFJoin.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Use is active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="uFJoin.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Module</mat-label>
    <input matInput type="text" id="module" [(ngModel)]="uFJoin.module" name="module">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Entity Table</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="uFJoin.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Entity ID</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="uFJoin.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="uFJoin.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile ID</mat-label>
    <input matInput type="text" id="uf_group_id" [(ngModel)]="uFJoin.uf_group_id" name="uf_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Use Data</mat-label>
    <input matInput type="text" id="module_data" [(ngModel)]="uFJoin.module_data" name="module_data">
  </mat-form-field>
  
</mat-card>
<div class="component component-u-f-join">
  <div class="entity-title"></div>
</div>
