<mat-card>
  <mat-card-title>
    Address
  </mat-card-title>
  <mat-form-field>
    <mat-label>Address ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="address.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="address.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address Location Type</mat-label>
    <input matInput type="text" id="location_type_id" [(ngModel)]="address.location_type_id" name="location_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Address Primary?</mat-label>
    <input matInput type="text" id="is_primary" [(ngModel)]="address.is_primary" name="is_primary">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Billing Address</mat-label>
    <input matInput type="text" id="is_billing" [(ngModel)]="address.is_billing" name="is_billing">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Address</mat-label>
    <input matInput type="text" id="street_address" [(ngModel)]="address.street_address" name="street_address">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Number</mat-label>
    <input matInput type="text" id="street_number" [(ngModel)]="address.street_number" name="street_number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Number Suffix</mat-label>
    <input matInput type="text" id="street_number_suffix" [(ngModel)]="address.street_number_suffix" name="street_number_suffix">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Direction Prefix</mat-label>
    <input matInput type="text" id="street_number_predirectional" [(ngModel)]="address.street_number_predirectional" name="street_number_predirectional">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Name</mat-label>
    <input matInput type="text" id="street_name" [(ngModel)]="address.street_name" name="street_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Type</mat-label>
    <input matInput type="text" id="street_type" [(ngModel)]="address.street_type" name="street_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Direction Suffix</mat-label>
    <input matInput type="text" id="street_number_postdirectional" [(ngModel)]="address.street_number_postdirectional" name="street_number_postdirectional">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Street Unit</mat-label>
    <input matInput type="text" id="street_unit" [(ngModel)]="address.street_unit" name="street_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Supplemental Address 1</mat-label>
    <input matInput type="text" id="supplemental_address_1" [(ngModel)]="address.supplemental_address_1" name="supplemental_address_1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Supplemental Address 2</mat-label>
    <input matInput type="text" id="supplemental_address_2" [(ngModel)]="address.supplemental_address_2" name="supplemental_address_2">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Supplemental Address 3</mat-label>
    <input matInput type="text" id="supplemental_address_3" [(ngModel)]="address.supplemental_address_3" name="supplemental_address_3">
  </mat-form-field>
  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput type="text" id="city" [(ngModel)]="address.city" name="city">
  </mat-form-field>
  <mat-form-field>
    <mat-label>County</mat-label>
    <input matInput type="text" id="county_id" [(ngModel)]="address.county_id" name="county_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>State/Province</mat-label>
    <input matInput type="text" id="state_province_id" [(ngModel)]="address.state_province_id" name="state_province_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postal Code Suffix</mat-label>
    <input matInput type="text" id="postal_code_suffix" [(ngModel)]="address.postal_code_suffix" name="postal_code_suffix">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postal Code</mat-label>
    <input matInput type="text" id="postal_code" [(ngModel)]="address.postal_code" name="postal_code">
  </mat-form-field>
  <mat-form-field>
    <mat-label>USPS Code</mat-label>
    <input matInput type="text" id="usps_adc" [(ngModel)]="address.usps_adc" name="usps_adc">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <input matInput type="text" id="country_id" [(ngModel)]="address.country_id" name="country_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input matInput type="text" id="geo_code_1" [(ngModel)]="address.geo_code_1" name="geo_code_1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input matInput type="text" id="geo_code_2" [(ngModel)]="address.geo_code_2" name="geo_code_2">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is manually geocoded</mat-label>
    <input matInput type="text" id="manual_geo_code" [(ngModel)]="address.manual_geo_code" name="manual_geo_code">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Timezone</mat-label>
    <input matInput type="text" id="timezone" [(ngModel)]="address.timezone" name="timezone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Address Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="address.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Master Address Belongs To</mat-label>
    <input matInput type="text" id="master_id" [(ngModel)]="address.master_id" name="master_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>World Region</mat-label>
    <input matInput type="text" id="world_region" [(ngModel)]="address.world_region" name="world_region">
  </mat-form-field>
  
</mat-card>
<div class="component component-address">
  <div class="entity-title"></div>
</div>
