<mat-card>
  <mat-card-title>
    MailingAB
  </mat-card-title>
  <mat-form-field>
    <mat-label>MailingAB ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="mailingAB.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="mailingAB.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <input matInput type="text" id="status" [(ngModel)]="mailingAB.status" name="status">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing ID (A)</mat-label>
    <input matInput type="text" id="mailing_id_a" [(ngModel)]="mailingAB.mailing_id_a" name="mailing_id_a">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing ID (B)</mat-label>
    <input matInput type="text" id="mailing_id_b" [(ngModel)]="mailingAB.mailing_id_b" name="mailing_id_b">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing ID (C)</mat-label>
    <input matInput type="text" id="mailing_id_c" [(ngModel)]="mailingAB.mailing_id_c" name="mailing_id_c">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Domain ID</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="mailingAB.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Testing Criteria</mat-label>
    <input matInput type="text" id="testing_criteria" [(ngModel)]="mailingAB.testing_criteria" name="testing_criteria">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Winner Criteria</mat-label>
    <input matInput type="text" id="winner_criteria" [(ngModel)]="mailingAB.winner_criteria" name="winner_criteria">
  </mat-form-field>
  <mat-form-field>
    <mat-label>URL for Winner Criteria</mat-label>
    <input matInput type="text" id="specific_url" [(ngModel)]="mailingAB.specific_url" name="specific_url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Declaration Time</mat-label>
    <input matInput type="text" id="declare_winning_time" [(ngModel)]="mailingAB.declare_winning_time" name="declare_winning_time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Percentage</mat-label>
    <input matInput type="text" id="group_percentage" [(ngModel)]="mailingAB.group_percentage" name="group_percentage">
  </mat-form-field>
  <mat-form-field>
    <mat-label>AB Test Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="mailingAB.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>AB Test Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="mailingAB.created_date" name="created_date">
  </mat-form-field>
  
</mat-card>
<div class="component component-mailing-a-b">
  <div class="entity-title"></div>
</div>
