<mat-card>
  <mat-card-title>
    SavedSearch
  </mat-card-title>
  <mat-form-field>
    <mat-label>Saved Search ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="savedSearch.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Submitted Form Values</mat-label>
    <input matInput type="text" id="form_values" [(ngModel)]="savedSearch.form_values" name="form_values">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mapping ID</mat-label>
    <input matInput type="text" id="mapping_id" [(ngModel)]="savedSearch.mapping_id" name="mapping_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Value ID</mat-label>
    <input matInput type="text" id="search_custom_id" [(ngModel)]="savedSearch.search_custom_id" name="search_custom_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Where Clause</mat-label>
    <input matInput type="text" id="where_clause" [(ngModel)]="savedSearch.where_clause" name="where_clause">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Select Tables</mat-label>
    <input matInput type="text" id="select_tables" [(ngModel)]="savedSearch.select_tables" name="select_tables">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Where Tables</mat-label>
    <input matInput type="text" id="where_tables" [(ngModel)]="savedSearch.where_tables" name="where_tables">
  </mat-form-field>
  
</mat-card>
<div class="component component-saved-search">
  <div class="entity-title"></div>
</div>
