<mat-card>
  <mat-card-title>
    Case
  </mat-card-title>
  <mat-form-field>
    <mat-label>Case Type</mat-label>
    <input matInput type="text" id="case_type_id" [(ngModel)]="case.case_type_id" name="case_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case Subject</mat-label>
    <input matInput type="text" id="subject" [(ngModel)]="case.subject" name="subject">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case Start Date</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="case.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case End Date</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="case.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Details</mat-label>
    <input matInput type="text" id="details" [(ngModel)]="case.details" name="details">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case Status</mat-label>
    <input matInput type="text" id="status_id" [(ngModel)]="case.status_id" name="status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case is in the Trash</mat-label>
    <input matInput type="text" id="is_deleted" [(ngModel)]="case.is_deleted" name="is_deleted">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="case.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="case.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="case.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case Client</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="case.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case Activity</mat-label>
    <input matInput type="text" id="activity_id" [(ngModel)]="case.activity_id" name="activity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput type="text" id="tag_id" [(ngModel)]="case.tag_id" name="tag_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-case">
  <div class="entity-title"></div>
</div>
