<mat-card>
  <mat-card-title>
    CiviRuleAction
  </mat-card-title>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="id" [(ngModel)]="civiRuleAction.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="name" [(ngModel)]="civiRuleAction.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="label" [(ngModel)]="civiRuleAction.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="class_name" [(ngModel)]="civiRuleAction.class_name" name="class_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="civiRuleAction.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="civiRuleAction.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_user_id" [(ngModel)]="civiRuleAction.created_user_id" name="created_user_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="civiRuleAction.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_user_id" [(ngModel)]="civiRuleAction.modified_user_id" name="modified_user_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-civi-rule-action">
  <div class="entity-title"></div>
</div>
