<mat-card>
  <mat-card-title>
    DiscountCode
  </mat-card-title>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="id" [(ngModel)]="discountCode.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Code</mat-label>
    <input matInput type="text" id="code" [(ngModel)]="discountCode.code" name="code">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="discountCode.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Discount Filters</mat-label>
    <input matInput type="text" id="filters" [(ngModel)]="discountCode.filters" name="filters">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput type="text" id="amount" [(ngModel)]="discountCode.amount" name="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount Type</mat-label>
    <input matInput type="text" id="amount_type" [(ngModel)]="discountCode.amount_type" name="amount_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Count Max</mat-label>
    <input matInput type="text" id="count_max" [(ngModel)]="discountCode.count_max" name="count_max">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Count Use</mat-label>
    <input matInput type="text" id="count_use" [(ngModel)]="discountCode.count_use" name="count_use">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Events</mat-label>
    <input matInput type="text" id="events" [(ngModel)]="discountCode.events" name="events">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pricesets</mat-label>
    <input matInput type="text" id="pricesets" [(ngModel)]="discountCode.pricesets" name="pricesets">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Memberships</mat-label>
    <input matInput type="text" id="memberships" [(ngModel)]="discountCode.memberships" name="memberships">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Autodiscount</mat-label>
    <input matInput type="text" id="autodiscount" [(ngModel)]="discountCode.autodiscount" name="autodiscount">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="organization_id" [(ngModel)]="discountCode.organization_id" name="organization_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activation Date</mat-label>
    <input matInput type="text" id="active_on" [(ngModel)]="discountCode.active_on" name="active_on">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Expiration Date</mat-label>
    <input matInput type="text" id="expire_on" [(ngModel)]="discountCode.expire_on" name="expire_on">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="discountCode.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="discount_msg_enabled" [(ngModel)]="discountCode.discount_msg_enabled" name="discount_msg_enabled">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Discount Message</mat-label>
    <input matInput type="text" id="discount_msg" [(ngModel)]="discountCode.discount_msg" name="discount_msg">
  </mat-form-field>
  
</mat-card>
<div class="component component-discount-code">
  <div class="entity-title"></div>
</div>
