<mat-card>
  <mat-card-title>
    Acl
  </mat-card-title>
  <mat-form-field>
    <mat-label>ACL ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="acl.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="acl.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deny ACL?</mat-label>
    <input matInput type="text" id="deny" [(ngModel)]="acl.deny" name="deny">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Entity</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="acl.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity ID</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="acl.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Operation</mat-label>
    <input matInput type="text" id="operation" [(ngModel)]="acl.operation" name="operation">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Object</mat-label>
    <input matInput type="text" id="object_table" [(ngModel)]="acl.object_table" name="object_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Object ID</mat-label>
    <input matInput type="text" id="object_id" [(ngModel)]="acl.object_id" name="object_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Table</mat-label>
    <input matInput type="text" id="acl_table" [(ngModel)]="acl.acl_table" name="acl_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Group ID</mat-label>
    <input matInput type="text" id="acl_id" [(ngModel)]="acl.acl_id" name="acl_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ACL Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="acl.is_active" name="is_active">
  </mat-form-field>
  
</mat-card>
<div class="component component-acl">
  <div class="entity-title"></div>
</div>
