<mat-card>
  <mat-card-title>
    CiviRuleRule
  </mat-card-title>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="id" [(ngModel)]="civiRuleRule.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="name" [(ngModel)]="civiRuleRule.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="label" [(ngModel)]="civiRuleRule.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="trigger_id" [(ngModel)]="civiRuleRule.trigger_id" name="trigger_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="trigger_params" [(ngModel)]="civiRuleRule.trigger_params" name="trigger_params">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="civiRuleRule.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="description" [(ngModel)]="civiRuleRule.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="help_text" [(ngModel)]="civiRuleRule.help_text" name="help_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="rule_tag_id" [(ngModel)]="civiRuleRule.rule_tag_id" name="rule_tag_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="civiRuleRule.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_user_id" [(ngModel)]="civiRuleRule.created_user_id" name="created_user_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="civiRuleRule.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_user_id" [(ngModel)]="civiRuleRule.modified_user_id" name="modified_user_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-civi-rule-rule">
  <div class="entity-title"></div>
</div>
