<mat-card>
  <mat-card-title>
    WordReplacement
  </mat-card-title>
  <mat-form-field>
    <mat-label>Word Replacement ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="wordReplacement.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Replaced Word</mat-label>
    <input matInput type="text" id="find_word" [(ngModel)]="wordReplacement.find_word" name="find_word">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Replacement Word</mat-label>
    <input matInput type="text" id="replace_word" [(ngModel)]="wordReplacement.replace_word" name="replace_word">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Word Replacement is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="wordReplacement.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Word Replacement Match Type</mat-label>
    <input matInput type="text" id="match_type" [(ngModel)]="wordReplacement.match_type" name="match_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Word Replacement Domain ID</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="wordReplacement.domain_id" name="domain_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-word-replacement">
  <div class="entity-title"></div>
</div>
