<mat-card>
  <mat-card-title>
    RelationshipType
  </mat-card-title>
  <mat-form-field>
    <mat-label>Relationship Type ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="relationshipType.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Type Name A to B</mat-label>
    <input matInput type="text" id="name_a_b" [(ngModel)]="relationshipType.name_a_b" name="name_a_b">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Type Label A to B</mat-label>
    <input matInput type="text" id="label_a_b" [(ngModel)]="relationshipType.label_a_b" name="label_a_b">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Type Name B to A</mat-label>
    <input matInput type="text" id="name_b_a" [(ngModel)]="relationshipType.name_b_a" name="name_b_a">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Type Label B to A</mat-label>
    <input matInput type="text" id="label_b_a" [(ngModel)]="relationshipType.label_b_a" name="label_b_a">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="relationshipType.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type for Contact A</mat-label>
    <input matInput type="text" id="contact_type_a" [(ngModel)]="relationshipType.contact_type_a" name="contact_type_a">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type for Contact B</mat-label>
    <input matInput type="text" id="contact_type_b" [(ngModel)]="relationshipType.contact_type_b" name="contact_type_b">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Subtype A</mat-label>
    <input matInput type="text" id="contact_sub_type_a" [(ngModel)]="relationshipType.contact_sub_type_a" name="contact_sub_type_a">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Subtype B</mat-label>
    <input matInput type="text" id="contact_sub_type_b" [(ngModel)]="relationshipType.contact_sub_type_b" name="contact_sub_type_b">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Type is Reserved</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="relationshipType.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Type is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="relationshipType.is_active" name="is_active">
  </mat-form-field>
  
</mat-card>
<div class="component component-relationship-type">
  <div class="entity-title"></div>
</div>
