<mat-card>
  <mat-card-title>
    ContributionPage
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contribution Page ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="contributionPage.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="contributionPage.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page Introduction Text</mat-label>
    <input matInput type="text" id="intro_text" [(ngModel)]="contributionPage.intro_text" name="intro_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="contributionPage.financial_type_id" name="financial_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Processor</mat-label>
    <input matInput type="text" id="payment_processor" [(ngModel)]="contributionPage.payment_processor" name="payment_processor">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Credit Card Only?</mat-label>
    <input matInput type="text" id="is_credit_card_only" [(ngModel)]="contributionPage.is_credit_card_only" name="is_credit_card_only">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Monetary</mat-label>
    <input matInput type="text" id="is_monetary" [(ngModel)]="contributionPage.is_monetary" name="is_monetary">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Recurring</mat-label>
    <input matInput type="text" id="is_recur" [(ngModel)]="contributionPage.is_recur" name="is_recur">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmation Page?</mat-label>
    <input matInput type="text" id="is_confirm_enabled" [(ngModel)]="contributionPage.is_confirm_enabled" name="is_confirm_enabled">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Frequency</mat-label>
    <input matInput type="text" id="recur_frequency_unit" [(ngModel)]="contributionPage.recur_frequency_unit" name="recur_frequency_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Support Recurring Intervals</mat-label>
    <input matInput type="text" id="is_recur_interval" [(ngModel)]="contributionPage.is_recur_interval" name="is_recur_interval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Installments?</mat-label>
    <input matInput type="text" id="is_recur_installments" [(ngModel)]="contributionPage.is_recur_installments" name="is_recur_installments">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Adjust Recurring Start Date</mat-label>
    <input matInput type="text" id="adjust_recur_start_date" [(ngModel)]="contributionPage.adjust_recur_start_date" name="adjust_recur_start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pay Later</mat-label>
    <input matInput type="text" id="is_pay_later" [(ngModel)]="contributionPage.is_pay_later" name="is_pay_later">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pay Later Text</mat-label>
    <input matInput type="text" id="pay_later_text" [(ngModel)]="contributionPage.pay_later_text" name="pay_later_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pay Later Receipt</mat-label>
    <input matInput type="text" id="pay_later_receipt" [(ngModel)]="contributionPage.pay_later_receipt" name="pay_later_receipt">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Allow Partial Payment</mat-label>
    <input matInput type="text" id="is_partial_payment" [(ngModel)]="contributionPage.is_partial_payment" name="is_partial_payment">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Initial Amount Label</mat-label>
    <input matInput type="text" id="initial_amount_label" [(ngModel)]="contributionPage.initial_amount_label" name="initial_amount_label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Initial Amount Help Text</mat-label>
    <input matInput type="text" id="initial_amount_help_text" [(ngModel)]="contributionPage.initial_amount_help_text" name="initial_amount_help_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Min Initial Amount</mat-label>
    <input matInput type="text" id="min_initial_amount" [(ngModel)]="contributionPage.min_initial_amount" name="min_initial_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Allow Other Amounts</mat-label>
    <input matInput type="text" id="is_allow_other_amount" [(ngModel)]="contributionPage.is_allow_other_amount" name="is_allow_other_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Default Amount</mat-label>
    <input matInput type="text" id="default_amount_id" [(ngModel)]="contributionPage.default_amount_id" name="default_amount_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Amount</mat-label>
    <input matInput type="text" id="min_amount" [(ngModel)]="contributionPage.min_amount" name="min_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maximum Amount</mat-label>
    <input matInput type="text" id="max_amount" [(ngModel)]="contributionPage.max_amount" name="max_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Goal Amount</mat-label>
    <input matInput type="text" id="goal_amount" [(ngModel)]="contributionPage.goal_amount" name="goal_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Thank-you Title</mat-label>
    <input matInput type="text" id="thankyou_title" [(ngModel)]="contributionPage.thankyou_title" name="thankyou_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Thank-you Text</mat-label>
    <input matInput type="text" id="thankyou_text" [(ngModel)]="contributionPage.thankyou_text" name="thankyou_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Thank-you Footer</mat-label>
    <input matInput type="text" id="thankyou_footer" [(ngModel)]="contributionPage.thankyou_footer" name="thankyou_footer">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Send email Receipt</mat-label>
    <input matInput type="text" id="is_email_receipt" [(ngModel)]="contributionPage.is_email_receipt" name="is_email_receipt">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Receipt From</mat-label>
    <input matInput type="text" id="receipt_from_name" [(ngModel)]="contributionPage.receipt_from_name" name="receipt_from_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Receipt From email</mat-label>
    <input matInput type="text" id="receipt_from_email" [(ngModel)]="contributionPage.receipt_from_email" name="receipt_from_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Receipt cc</mat-label>
    <input matInput type="text" id="cc_receipt" [(ngModel)]="contributionPage.cc_receipt" name="cc_receipt">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Receipt bcc</mat-label>
    <input matInput type="text" id="bcc_receipt" [(ngModel)]="contributionPage.bcc_receipt" name="bcc_receipt">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Receipt Text</mat-label>
    <input matInput type="text" id="receipt_text" [(ngModel)]="contributionPage.receipt_text" name="receipt_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Page Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="contributionPage.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Footer Text</mat-label>
    <input matInput type="text" id="footer_text" [(ngModel)]="contributionPage.footer_text" name="footer_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Amount Block Active?</mat-label>
    <input matInput type="text" id="amount_block_is_active" [(ngModel)]="contributionPage.amount_block_is_active" name="amount_block_is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page Start Date</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="contributionPage.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page End Date</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="contributionPage.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="contributionPage.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="contributionPage.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page Currency</mat-label>
    <input matInput type="text" id="currency" [(ngModel)]="contributionPage.currency" name="currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page Campaign ID</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="contributionPage.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Contribution Page Shared?</mat-label>
    <input matInput type="text" id="is_share" [(ngModel)]="contributionPage.is_share" name="is_share">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is billing block required</mat-label>
    <input matInput type="text" id="is_billing_required" [(ngModel)]="contributionPage.is_billing_required" name="is_billing_required">
  </mat-form-field>
  
</mat-card>
<div class="component component-contribution-page">
  <div class="entity-title"></div>
</div>
