<mat-card>
  <mat-card-title>
    VolunteerProject
  </mat-card-title>
  <mat-form-field>
    <mat-label>CiviVolunteer Project ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="volunteerProject.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="volunteerProject.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="volunteerProject.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity Table</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="volunteerProject.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="volunteerProject.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enabled</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="volunteerProject.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Block ID</mat-label>
    <input matInput type="text" id="loc_block_id" [(ngModel)]="volunteerProject.loc_block_id" name="loc_block_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="volunteerProject.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Action Context</mat-label>
    <input matInput type="text" id="context" [(ngModel)]="volunteerProject.context" name="context">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project Contacts</mat-label>
    <input matInput type="text" id="project_contacts" [(ngModel)]="volunteerProject.project_contacts" name="project_contacts">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Proximity</mat-label>
    <input matInput type="text" id="proximity" [(ngModel)]="volunteerProject.proximity" name="proximity">
  </mat-form-field>
  
</mat-card>
<div class="component component-volunteer-project">
  <div class="entity-title"></div>
</div>
