<mat-card>
  <mat-card-title>
    Participant
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="participant.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event</mat-label>
    <input matInput type="text" id="event_id" [(ngModel)]="participant.event_id" name="event_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Participant Status</mat-label>
    <input matInput type="text" id="status_id" [(ngModel)]="participant.status_id" name="status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Participant Role</mat-label>
    <input matInput type="text" id="role_id" [(ngModel)]="participant.role_id" name="role_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Register date</mat-label>
    <input matInput type="text" id="register_date" [(ngModel)]="participant.register_date" name="register_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Participant Source</mat-label>
    <input matInput type="text" id="source" [(ngModel)]="participant.source" name="source">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fee level</mat-label>
    <input matInput type="text" id="fee_level" [(ngModel)]="participant.fee_level" name="fee_level">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Test</mat-label>
    <input matInput type="text" id="is_test" [(ngModel)]="participant.is_test" name="is_test">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Pay Later</mat-label>
    <input matInput type="text" id="is_pay_later" [(ngModel)]="participant.is_pay_later" name="is_pay_later">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fee Amount</mat-label>
    <input matInput type="text" id="fee_amount" [(ngModel)]="participant.fee_amount" name="fee_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Registered By ID</mat-label>
    <input matInput type="text" id="registered_by_id" [(ngModel)]="participant.registered_by_id" name="registered_by_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Discount ID</mat-label>
    <input matInput type="text" id="discount_id" [(ngModel)]="participant.discount_id" name="discount_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fee Currency</mat-label>
    <input matInput type="text" id="fee_currency" [(ngModel)]="participant.fee_currency" name="fee_currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="participant.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Discount Amount</mat-label>
    <input matInput type="text" id="discount_amount" [(ngModel)]="participant.discount_amount" name="discount_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Cart ID</mat-label>
    <input matInput type="text" id="cart_id" [(ngModel)]="participant.cart_id" name="cart_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Must Wait on List</mat-label>
    <input matInput type="text" id="must_wait" [(ngModel)]="participant.must_wait" name="must_wait">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Transferred to Contact ID</mat-label>
    <input matInput type="text" id="transferred_to_contact_id" [(ngModel)]="participant.transferred_to_contact_id" name="transferred_to_contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soup Selection</mat-label>
    <input matInput type="text" id="custom_4" [(ngModel)]="participant.custom_4" name="custom_4">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Participant ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="participant.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Get Test Participants</mat-label>
    <input matInput type="text" id="participant_test" [(ngModel)]="participant.participant_test" name="participant_test">
  </mat-form-field>
  
</mat-card>
<div class="component component-participant">
  <div class="entity-title"></div>
</div>
