<mat-card>
  <mat-card-title>
    Logging
  </mat-card-title>
  <mat-form-field>
    <mat-label>Logging Connection ID</mat-label>
    <input matInput type="text" id="log_conn_id" [(ngModel)]="logging.log_conn_id" name="log_conn_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Logging Timestamp</mat-label>
    <input matInput type="text" id="log_date" [(ngModel)]="logging.log_date" name="log_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Interval (required if date is included)</mat-label>
    <input matInput type="text" id="interval" [(ngModel)]="logging.interval" name="interval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tables to query</mat-label>
    <input matInput type="text" id="tables" [(ngModel)]="logging.tables" name="tables">
  </mat-form-field>
  
</mat-card>
<div class="component component-logging">
  <div class="entity-title"></div>
</div>
