<mat-card>
  <mat-card-title>
    CustomGroup
  </mat-card-title>
  <mat-form-field>
    <mat-label>Custom Group ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="customGroup.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="customGroup.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="customGroup.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Extends</mat-label>
    <input matInput type="text" id="extends" [(ngModel)]="customGroup.extends" name="extends">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Subtype List</mat-label>
    <input matInput type="text" id="extends_entity_column_id" [(ngModel)]="customGroup.extends_entity_column_id" name="extends_entity_column_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Subtype</mat-label>
    <input matInput type="text" id="extends_entity_column_value" [(ngModel)]="customGroup.extends_entity_column_value" name="extends_entity_column_value">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Style</mat-label>
    <input matInput type="text" id="style" [(ngModel)]="customGroup.style" name="style">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Collapse Custom Group?</mat-label>
    <input matInput type="text" id="collapse_display" [(ngModel)]="customGroup.collapse_display" name="collapse_display">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Pre Text</mat-label>
    <input matInput type="text" id="help_pre" [(ngModel)]="customGroup.help_pre" name="help_pre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Post Text</mat-label>
    <input matInput type="text" id="help_post" [(ngModel)]="customGroup.help_post" name="help_post">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="customGroup.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="customGroup.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Table Name</mat-label>
    <input matInput type="text" id="table_name" [(ngModel)]="customGroup.table_name" name="table_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Supports Multiple Records</mat-label>
    <input matInput type="text" id="is_multiple" [(ngModel)]="customGroup.is_multiple" name="is_multiple">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Multiple Records</mat-label>
    <input matInput type="text" id="min_multiple" [(ngModel)]="customGroup.min_multiple" name="min_multiple">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maximum Multiple Records</mat-label>
    <input matInput type="text" id="max_multiple" [(ngModel)]="customGroup.max_multiple" name="max_multiple">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Collapse Group Display</mat-label>
    <input matInput type="text" id="collapse_adv_display" [(ngModel)]="customGroup.collapse_adv_display" name="collapse_adv_display">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="customGroup.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="customGroup.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Reserved Group?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="customGroup.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group Is Public?</mat-label>
    <input matInput type="text" id="is_public" [(ngModel)]="customGroup.is_public" name="is_public">
  </mat-form-field>
  
</mat-card>
<div class="component component-custom-group">
  <div class="entity-title"></div>
</div>
