<mat-card>
  <mat-card-title>
    DiscountTrack
  </mat-card-title>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="id" [(ngModel)]="discountTrack.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="item_id" [(ngModel)]="discountTrack.item_id" name="item_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="discountTrack.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Used Date</mat-label>
    <input matInput type="text" id="used_date" [(ngModel)]="discountTrack.used_date" name="used_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="contribution_id" [(ngModel)]="discountTrack.contribution_id" name="contribution_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity Table</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="discountTrack.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="discountTrack.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="discountTrack.description" name="description">
  </mat-form-field>
  
</mat-card>
<div class="component component-discount-track">
  <div class="entity-title"></div>
</div>
