<mat-card>
  <mat-card-title>
    MembershipPayment
  </mat-card-title>
  <mat-form-field>
    <mat-label>Membership Payment ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="membershipPayment.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership</mat-label>
    <input matInput type="text" id="membership_id" [(ngModel)]="membershipPayment.membership_id" name="membership_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution</mat-label>
    <input matInput type="text" id="contribution_id" [(ngModel)]="membershipPayment.contribution_id" name="contribution_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-membership-payment">
  <div class="entity-title"></div>
</div>
