<mat-card>
  <mat-card-title>
    PaymentProcessor
  </mat-card-title>
  <mat-form-field>
    <mat-label>Payment Processor ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="paymentProcessor.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Processor Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="paymentProcessor.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Processor</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="paymentProcessor.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Processor Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="paymentProcessor.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Processor Type ID</mat-label>
    <input matInput type="text" id="payment_processor_type_id" [(ngModel)]="paymentProcessor.payment_processor_type_id" name="payment_processor_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Processor is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="paymentProcessor.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Processor Is Default?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="paymentProcessor.is_default" name="is_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Test Processor?</mat-label>
    <input matInput type="text" id="is_test" [(ngModel)]="paymentProcessor.is_test" name="is_test">
  </mat-form-field>
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input matInput type="text" id="user_name" [(ngModel)]="paymentProcessor.user_name" name="user_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="text" id="password" [(ngModel)]="paymentProcessor.password" name="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Signature</mat-label>
    <input matInput type="text" id="signature" [(ngModel)]="paymentProcessor.signature" name="signature">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Site URL</mat-label>
    <input matInput type="text" id="url_site" [(ngModel)]="paymentProcessor.url_site" name="url_site">
  </mat-form-field>
  <mat-form-field>
    <mat-label>API URL</mat-label>
    <input matInput type="text" id="url_api" [(ngModel)]="paymentProcessor.url_api" name="url_api">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Payments URL</mat-label>
    <input matInput type="text" id="url_recur" [(ngModel)]="paymentProcessor.url_recur" name="url_recur">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Button URL</mat-label>
    <input matInput type="text" id="url_button" [(ngModel)]="paymentProcessor.url_button" name="url_button">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <input matInput type="text" id="subject" [(ngModel)]="paymentProcessor.subject" name="subject">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Suffix for PHP class name implementation</mat-label>
    <input matInput type="text" id="class_name" [(ngModel)]="paymentProcessor.class_name" name="class_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Processor Billing Mode</mat-label>
    <input matInput type="text" id="billing_mode" [(ngModel)]="paymentProcessor.billing_mode" name="billing_mode">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Processor Supports Recurring?</mat-label>
    <input matInput type="text" id="is_recur" [(ngModel)]="paymentProcessor.is_recur" name="is_recur">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Type</mat-label>
    <input matInput type="text" id="payment_type" [(ngModel)]="paymentProcessor.payment_type" name="payment_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Method</mat-label>
    <input matInput type="text" id="payment_instrument_id" [(ngModel)]="paymentProcessor.payment_instrument_id" name="payment_instrument_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Accepted Credit Cards</mat-label>
    <input matInput type="text" id="accepted_credit_cards" [(ngModel)]="paymentProcessor.accepted_credit_cards" name="accepted_credit_cards">
  </mat-form-field>
  
</mat-card>
<div class="component component-payment-processor">
  <div class="entity-title"></div>
</div>
