<mat-card>
  <mat-card-title>
    Domain
  </mat-card-title>
  <mat-form-field>
    <mat-label>Domain ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="domain.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Domain Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="domain.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Domain Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="domain.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Domain Configuration</mat-label>
    <input matInput type="text" id="config_backend" [(ngModel)]="domain.config_backend" name="config_backend">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CiviCRM Version</mat-label>
    <input matInput type="text" id="version" [(ngModel)]="domain.version" name="version">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Domain Contact</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="domain.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Supported Languages</mat-label>
    <input matInput type="text" id="locales" [(ngModel)]="domain.locales" name="locales">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Language Customizations</mat-label>
    <input matInput type="text" id="locale_custom_strings" [(ngModel)]="domain.locale_custom_strings" name="locale_custom_strings">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Current Domain</mat-label>
    <input matInput type="text" id="current_domain" [(ngModel)]="domain.current_domain" name="current_domain">
  </mat-form-field>
  
</mat-card>
<div class="component component-domain">
  <div class="entity-title"></div>
</div>
