<mat-card>
  <mat-card-title>
    SystemLog
  </mat-card-title>
  <mat-form-field>
    <mat-label>System Log ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="systemLog.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>System Log Message</mat-label>
    <input matInput type="text" id="message" [(ngModel)]="systemLog.message" name="message">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Detailed Log Data</mat-label>
    <input matInput type="text" id="context" [(ngModel)]="systemLog.context" name="context">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Detailed Log Data</mat-label>
    <input matInput type="text" id="level" [(ngModel)]="systemLog.level" name="level">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Log Timestamp</mat-label>
    <input matInput type="text" id="timestamp" [(ngModel)]="systemLog.timestamp" name="timestamp">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Log Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="systemLog.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Log Host</mat-label>
    <input matInput type="text" id="hostname" [(ngModel)]="systemLog.hostname" name="hostname">
  </mat-form-field>
  
</mat-card>
<div class="component component-system-log">
  <div class="entity-title"></div>
</div>
