<mat-card>
  <mat-card-title>
    Activity
  </mat-card-title>
  <mat-form-field>
    <mat-label>Source Record</mat-label>
    <input matInput type="text" id="source_record_id" [(ngModel)]="activity.source_record_id" name="source_record_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity Type ID</mat-label>
    <input matInput type="text" id="activity_type_id" [(ngModel)]="activity.activity_type_id" name="activity_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <input matInput type="text" id="subject" [(ngModel)]="activity.subject" name="subject">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity Date</mat-label>
    <input matInput type="text" id="activity_date_time" [(ngModel)]="activity.activity_date_time" name="activity_date_time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Duration</mat-label>
    <input matInput type="text" id="duration" [(ngModel)]="activity.duration" name="duration">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput type="text" id="location" [(ngModel)]="activity.location" name="location">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone (called) ID</mat-label>
    <input matInput type="text" id="phone_id" [(ngModel)]="activity.phone_id" name="phone_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone (called) Number</mat-label>
    <input matInput type="text" id="phone_number" [(ngModel)]="activity.phone_number" name="phone_number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Details</mat-label>
    <input matInput type="text" id="details" [(ngModel)]="activity.details" name="details">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity Status</mat-label>
    <input matInput type="text" id="status_id" [(ngModel)]="activity.status_id" name="status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Priority</mat-label>
    <input matInput type="text" id="priority_id" [(ngModel)]="activity.priority_id" name="priority_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Parent Activity Id</mat-label>
    <input matInput type="text" id="parent_id" [(ngModel)]="activity.parent_id" name="parent_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Test</mat-label>
    <input matInput type="text" id="is_test" [(ngModel)]="activity.is_test" name="is_test">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity Medium</mat-label>
    <input matInput type="text" id="medium_id" [(ngModel)]="activity.medium_id" name="medium_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Auto</mat-label>
    <input matInput type="text" id="is_auto" [(ngModel)]="activity.is_auto" name="is_auto">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Relationship Id</mat-label>
    <input matInput type="text" id="relationship_id" [(ngModel)]="activity.relationship_id" name="relationship_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is this activity a current revision in versioning chain?</mat-label>
    <input matInput type="text" id="is_current_revision" [(ngModel)]="activity.is_current_revision" name="is_current_revision">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Original Activity ID </mat-label>
    <input matInput type="text" id="original_id" [(ngModel)]="activity.original_id" name="original_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Result</mat-label>
    <input matInput type="text" id="result" [(ngModel)]="activity.result" name="result">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity is in the Trash</mat-label>
    <input matInput type="text" id="is_deleted" [(ngModel)]="activity.is_deleted" name="is_deleted">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="activity.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Engagement Index</mat-label>
    <input matInput type="text" id="engagement_level" [(ngModel)]="activity.engagement_level" name="engagement_level">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="activity.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Starred</mat-label>
    <input matInput type="text" id="is_star" [(ngModel)]="activity.is_star" name="is_star">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="activity.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="activity.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Volunteer Project ID</mat-label>
    <input matInput type="text" id="custom_12" [(ngModel)]="activity.custom_12" name="custom_12">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Volunteer Need</mat-label>
    <input matInput type="text" id="custom_7" [(ngModel)]="activity.custom_7" name="custom_7">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Time Scheduled (minutes)</mat-label>
    <input matInput type="text" id="custom_9" [(ngModel)]="activity.custom_9" name="custom_9">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Volunteer Role</mat-label>
    <input matInput type="text" id="custom_8" [(ngModel)]="activity.custom_8" name="custom_8">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Time Completed (minutes)</mat-label>
    <input matInput type="text" id="custom_10" [(ngModel)]="activity.custom_10" name="custom_10">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="activity.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput type="text" id="tag_id" [(ngModel)]="activity.tag_id" name="tag_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Attached Files</mat-label>
    <input matInput type="text" id="file_id" [(ngModel)]="activity.file_id" name="file_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cases</mat-label>
    <input matInput type="text" id="case_id" [(ngModel)]="activity.case_id" name="case_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="activity.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Target Contact ID</mat-label>
    <input matInput type="text" id="target_contact_id" [(ngModel)]="activity.target_contact_id" name="target_contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Source Contact ID</mat-label>
    <input matInput type="text" id="source_contact_id" [(ngModel)]="activity.source_contact_id" name="source_contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Assignee Contact ID</mat-label>
    <input matInput type="text" id="assignee_contact_id" [(ngModel)]="activity.assignee_contact_id" name="assignee_contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Activity Overdue</mat-label>
    <input matInput type="text" id="is_overdue" [(ngModel)]="activity.is_overdue" name="is_overdue">
  </mat-form-field>
  
</mat-card>
<div class="component component-activity">
  <div class="entity-title"></div>
</div>
