<mat-card>
  <mat-card-title>
    UFGroup
  </mat-card-title>
  <mat-form-field>
    <mat-label>Profile ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="uFGroup.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="uFGroup.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Group Type</mat-label>
    <input matInput type="text" id="group_type" [(ngModel)]="uFGroup.group_type" name="group_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="uFGroup.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Frontend Title</mat-label>
    <input matInput type="text" id="frontend_title" [(ngModel)]="uFGroup.frontend_title" name="frontend_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="uFGroup.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Help Pre</mat-label>
    <input matInput type="text" id="help_pre" [(ngModel)]="uFGroup.help_pre" name="help_pre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Post Text</mat-label>
    <input matInput type="text" id="help_post" [(ngModel)]="uFGroup.help_post" name="help_post">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Search Limit Group</mat-label>
    <input matInput type="text" id="limit_listings_group_id" [(ngModel)]="uFGroup.limit_listings_group_id" name="limit_listings_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Post Url</mat-label>
    <input matInput type="text" id="post_URL" [(ngModel)]="uFGroup.post_URL" name="post_URL">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Add Contact To Group</mat-label>
    <input matInput type="text" id="add_to_group_id" [(ngModel)]="uFGroup.add_to_group_id" name="add_to_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Show Captcha On Profile</mat-label>
    <input matInput type="text" id="add_captcha" [(ngModel)]="uFGroup.add_captcha" name="add_captcha">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Map Profile</mat-label>
    <input matInput type="text" id="is_map" [(ngModel)]="uFGroup.is_map" name="is_map">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Show Edit Link?</mat-label>
    <input matInput type="text" id="is_edit_link" [(ngModel)]="uFGroup.is_edit_link" name="is_edit_link">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Show Link to CMS User</mat-label>
    <input matInput type="text" id="is_uf_link" [(ngModel)]="uFGroup.is_uf_link" name="is_uf_link">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Update on Duplicate</mat-label>
    <input matInput type="text" id="is_update_dupe" [(ngModel)]="uFGroup.is_update_dupe" name="is_update_dupe">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Cancel URL</mat-label>
    <input matInput type="text" id="cancel_URL" [(ngModel)]="uFGroup.cancel_URL" name="cancel_URL">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Create CMS User?</mat-label>
    <input matInput type="text" id="is_cms_user" [(ngModel)]="uFGroup.is_cms_user" name="is_cms_user">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Notify on Profile Submit</mat-label>
    <input matInput type="text" id="notify" [(ngModel)]="uFGroup.notify" name="notify">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Is Reserved</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="uFGroup.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="uFGroup.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="uFGroup.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>UF Group Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="uFGroup.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Include Proximity Search?</mat-label>
    <input matInput type="text" id="is_proximity_search" [(ngModel)]="uFGroup.is_proximity_search" name="is_proximity_search">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cancel Button Text</mat-label>
    <input matInput type="text" id="cancel_button_text" [(ngModel)]="uFGroup.cancel_button_text" name="cancel_button_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Submit Button Text</mat-label>
    <input matInput type="text" id="submit_button_text" [(ngModel)]="uFGroup.submit_button_text" name="submit_button_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Include Cancel Button</mat-label>
    <input matInput type="text" id="add_cancel_button" [(ngModel)]="uFGroup.add_cancel_button" name="add_cancel_button">
  </mat-form-field>
  
</mat-card>
<div class="component component-u-f-group">
  <div class="entity-title"></div>
</div>
