<mat-card>
  <mat-card-title>
    Batch
  </mat-card-title>
  <mat-form-field>
    <mat-label>Batch ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="batch.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="batch.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="batch.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="batch.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="batch.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="batch.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Modified By</mat-label>
    <input matInput type="text" id="modified_id" [(ngModel)]="batch.modified_id" name="modified_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="batch.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Smart Group</mat-label>
    <input matInput type="text" id="saved_search_id" [(ngModel)]="batch.saved_search_id" name="saved_search_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Status</mat-label>
    <input matInput type="text" id="status_id" [(ngModel)]="batch.status_id" name="status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Type</mat-label>
    <input matInput type="text" id="type_id" [(ngModel)]="batch.type_id" name="type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Mode</mat-label>
    <input matInput type="text" id="mode_id" [(ngModel)]="batch.mode_id" name="mode_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Total</mat-label>
    <input matInput type="text" id="total" [(ngModel)]="batch.total" name="total">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Number of Items</mat-label>
    <input matInput type="text" id="item_count" [(ngModel)]="batch.item_count" name="item_count">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Payment Method</mat-label>
    <input matInput type="text" id="payment_instrument_id" [(ngModel)]="batch.payment_instrument_id" name="payment_instrument_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Exported Date</mat-label>
    <input matInput type="text" id="exported_date" [(ngModel)]="batch.exported_date" name="exported_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch Data</mat-label>
    <input matInput type="text" id="data" [(ngModel)]="batch.data" name="data">
  </mat-form-field>
  
</mat-card>
<div class="component component-batch">
  <div class="entity-title"></div>
</div>
