<mat-card>
  <mat-card-title>
    LocationType
  </mat-card-title>
  <mat-form-field>
    <mat-label>Location Type ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="locationType.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Type</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="locationType.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Display Name</mat-label>
    <input matInput type="text" id="display_name" [(ngModel)]="locationType.display_name" name="display_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>vCard Location Type</mat-label>
    <input matInput type="text" id="vcard_name" [(ngModel)]="locationType.vcard_name" name="vcard_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="locationType.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Type is Reserved?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="locationType.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Type is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="locationType.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Default Location Type?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="locationType.is_default" name="is_default">
  </mat-form-field>
  
</mat-card>
<div class="component component-location-type">
  <div class="entity-title"></div>
</div>
