<mat-card>
  <mat-card-title>
    MembershipStatus
  </mat-card-title>
  <mat-form-field>
    <mat-label>Membership Status ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="membershipStatus.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Status</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="membershipStatus.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="membershipStatus.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Event</mat-label>
    <input matInput type="text" id="start_event" [(ngModel)]="membershipStatus.start_event" name="start_event">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Event Adjust Unit</mat-label>
    <input matInput type="text" id="start_event_adjust_unit" [(ngModel)]="membershipStatus.start_event_adjust_unit" name="start_event_adjust_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Event Adjust Interval</mat-label>
    <input matInput type="text" id="start_event_adjust_interval" [(ngModel)]="membershipStatus.start_event_adjust_interval" name="start_event_adjust_interval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Event</mat-label>
    <input matInput type="text" id="end_event" [(ngModel)]="membershipStatus.end_event" name="end_event">
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Event Adjust Unit</mat-label>
    <input matInput type="text" id="end_event_adjust_unit" [(ngModel)]="membershipStatus.end_event_adjust_unit" name="end_event_adjust_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Event Adjust Interval</mat-label>
    <input matInput type="text" id="end_event_adjust_interval" [(ngModel)]="membershipStatus.end_event_adjust_interval" name="end_event_adjust_interval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Current Membership?</mat-label>
    <input matInput type="text" id="is_current_member" [(ngModel)]="membershipStatus.is_current_member" name="is_current_member">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Administrator Only?</mat-label>
    <input matInput type="text" id="is_admin" [(ngModel)]="membershipStatus.is_admin" name="is_admin">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="membershipStatus.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Default Status?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="membershipStatus.is_default" name="is_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="membershipStatus.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Reserved</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="membershipStatus.is_reserved" name="is_reserved">
  </mat-form-field>
  
</mat-card>
<div class="component component-membership-status">
  <div class="entity-title"></div>
</div>
