<mat-card>
  <mat-card-title>
    Job
  </mat-card-title>
  <mat-form-field>
    <mat-label>Job ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="job.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="job.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Frequency</mat-label>
    <input matInput type="text" id="run_frequency" [(ngModel)]="job.run_frequency" name="run_frequency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Run</mat-label>
    <input matInput type="text" id="last_run" [(ngModel)]="job.last_run" name="last_run">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Scheduled Run Date</mat-label>
    <input matInput type="text" id="scheduled_run_date" [(ngModel)]="job.scheduled_run_date" name="scheduled_run_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="job.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="job.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>API Entity</mat-label>
    <input matInput type="text" id="api_entity" [(ngModel)]="job.api_entity" name="api_entity">
  </mat-form-field>
  <mat-form-field>
    <mat-label>API Action</mat-label>
    <input matInput type="text" id="api_action" [(ngModel)]="job.api_action" name="api_action">
  </mat-form-field>
  <mat-form-field>
    <mat-label>API Parameters</mat-label>
    <input matInput type="text" id="parameters" [(ngModel)]="job.parameters" name="parameters">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="job.is_active" name="is_active">
  </mat-form-field>
  
</mat-card>
<div class="component component-job">
  <div class="entity-title"></div>
</div>
