<mat-card>
  <mat-card-title>
    Group
  </mat-card-title>
  <mat-form-field>
    <mat-label>Group ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="group.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="group.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="group.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="group.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Source</mat-label>
    <input matInput type="text" id="source" [(ngModel)]="group.source" name="source">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Saved Search ID</mat-label>
    <input matInput type="text" id="saved_search_id" [(ngModel)]="group.saved_search_id" name="saved_search_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Enabled</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="group.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Visibility Setting</mat-label>
    <input matInput type="text" id="visibility" [(ngModel)]="group.visibility" name="visibility">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Where Clause</mat-label>
    <input matInput type="text" id="where_clause" [(ngModel)]="group.where_clause" name="where_clause">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tables For Select Clause</mat-label>
    <input matInput type="text" id="select_tables" [(ngModel)]="group.select_tables" name="select_tables">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tables For Where Clause</mat-label>
    <input matInput type="text" id="where_tables" [(ngModel)]="group.where_tables" name="where_tables">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Type</mat-label>
    <input matInput type="text" id="group_type" [(ngModel)]="group.group_type" name="group_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Cache Date</mat-label>
    <input matInput type="text" id="cache_date" [(ngModel)]="group.cache_date" name="cache_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Next Group Refresh Time</mat-label>
    <input matInput type="text" id="refresh_date" [(ngModel)]="group.refresh_date" name="refresh_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Parents</mat-label>
    <input matInput type="text" id="parents" [(ngModel)]="group.parents" name="parents">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Children</mat-label>
    <input matInput type="text" id="children" [(ngModel)]="group.children" name="children">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group is Hidden</mat-label>
    <input matInput type="text" id="is_hidden" [(ngModel)]="group.is_hidden" name="is_hidden">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group is Reserved</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="group.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="group.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group Modified By</mat-label>
    <input matInput type="text" id="modified_id" [(ngModel)]="group.modified_id" name="modified_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-group">
  <div class="entity-title"></div>
</div>
