<mat-card>
  <mat-card-title>
    Pcp
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="pcp.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Personal Campaign Page Status</mat-label>
    <input matInput type="text" id="status_id" [(ngModel)]="pcp.status_id" name="status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Personal Campaign Page Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="pcp.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Intro Text</mat-label>
    <input matInput type="text" id="intro_text" [(ngModel)]="pcp.intro_text" name="intro_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Page Text</mat-label>
    <input matInput type="text" id="page_text" [(ngModel)]="pcp.page_text" name="page_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Donate Link Text</mat-label>
    <input matInput type="text" id="donate_link_text" [(ngModel)]="pcp.donate_link_text" name="donate_link_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution Page</mat-label>
    <input matInput type="text" id="page_id" [(ngModel)]="pcp.page_id" name="page_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>PCP Page Type</mat-label>
    <input matInput type="text" id="page_type" [(ngModel)]="pcp.page_type" name="page_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>PCP Block</mat-label>
    <input matInput type="text" id="pcp_block_id" [(ngModel)]="pcp.pcp_block_id" name="pcp_block_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Use Thermometer?</mat-label>
    <input matInput type="text" id="is_thermometer" [(ngModel)]="pcp.is_thermometer" name="is_thermometer">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Show Honor Roll?</mat-label>
    <input matInput type="text" id="is_honor_roll" [(ngModel)]="pcp.is_honor_roll" name="is_honor_roll">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Goal Amount</mat-label>
    <input matInput type="text" id="goal_amount" [(ngModel)]="pcp.goal_amount" name="goal_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <input matInput type="text" id="currency" [(ngModel)]="pcp.currency" name="currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enabled?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="pcp.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Notify Owner?</mat-label>
    <input matInput type="text" id="is_notify" [(ngModel)]="pcp.is_notify" name="is_notify">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Personal Campaign Page ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="pcp.id" name="id">
  </mat-form-field>
  
</mat-card>
<div class="component component-pcp">
  <div class="entity-title"></div>
</div>
