<mat-card>
  <mat-card-title>
    Contact
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="contact.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type</mat-label>
    <input matInput type="text" id="contact_type" [(ngModel)]="contact.contact_type" name="contact_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Subtype</mat-label>
    <input matInput type="text" id="contact_sub_type" [(ngModel)]="contact.contact_sub_type" name="contact_sub_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Do Not Email</mat-label>
    <input matInput type="text" id="do_not_email" [(ngModel)]="contact.do_not_email" name="do_not_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Do Not Phone</mat-label>
    <input matInput type="text" id="do_not_phone" [(ngModel)]="contact.do_not_phone" name="do_not_phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Do Not Mail</mat-label>
    <input matInput type="text" id="do_not_mail" [(ngModel)]="contact.do_not_mail" name="do_not_mail">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Do Not Sms</mat-label>
    <input matInput type="text" id="do_not_sms" [(ngModel)]="contact.do_not_sms" name="do_not_sms">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Do Not Trade</mat-label>
    <input matInput type="text" id="do_not_trade" [(ngModel)]="contact.do_not_trade" name="do_not_trade">
  </mat-form-field>
  <mat-form-field>
    <mat-label>No Bulk Emails (User Opt Out)</mat-label>
    <input matInput type="text" id="is_opt_out" [(ngModel)]="contact.is_opt_out" name="is_opt_out">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Legal Identifier</mat-label>
    <input matInput type="text" id="legal_identifier" [(ngModel)]="contact.legal_identifier" name="legal_identifier">
  </mat-form-field>
  <mat-form-field>
    <mat-label>External Identifier</mat-label>
    <input matInput type="text" id="external_identifier" [(ngModel)]="contact.external_identifier" name="external_identifier">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sort Name</mat-label>
    <input matInput type="text" id="sort_name" [(ngModel)]="contact.sort_name" name="sort_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Display Name</mat-label>
    <input matInput type="text" id="display_name" [(ngModel)]="contact.display_name" name="display_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nickname</mat-label>
    <input matInput type="text" id="nick_name" [(ngModel)]="contact.nick_name" name="nick_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Legal Name</mat-label>
    <input matInput type="text" id="legal_name" [(ngModel)]="contact.legal_name" name="legal_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image Url</mat-label>
    <input matInput type="text" id="image_URL" [(ngModel)]="contact.image_URL" name="image_URL">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Preferred Communication Method</mat-label>
    <input matInput type="text" id="preferred_communication_method" [(ngModel)]="contact.preferred_communication_method" name="preferred_communication_method">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Preferred Language</mat-label>
    <input matInput type="text" id="preferred_language" [(ngModel)]="contact.preferred_language" name="preferred_language">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Preferred Mail Format</mat-label>
    <input matInput type="text" id="preferred_mail_format" [(ngModel)]="contact.preferred_mail_format" name="preferred_mail_format">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Hash</mat-label>
    <input matInput type="text" id="hash" [(ngModel)]="contact.hash" name="hash">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Api Key</mat-label>
    <input matInput type="text" id="api_key" [(ngModel)]="contact.api_key" name="api_key">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Source</mat-label>
    <input matInput type="text" id="source" [(ngModel)]="contact.source" name="source">
  </mat-form-field>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput type="text" id="first_name" [(ngModel)]="contact.first_name" name="first_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Middle Name</mat-label>
    <input matInput type="text" id="middle_name" [(ngModel)]="contact.middle_name" name="middle_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text" id="last_name" [(ngModel)]="contact.last_name" name="last_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Individual Prefix</mat-label>
    <input matInput type="text" id="prefix_id" [(ngModel)]="contact.prefix_id" name="prefix_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Individual Suffix</mat-label>
    <input matInput type="text" id="suffix_id" [(ngModel)]="contact.suffix_id" name="suffix_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Formal Title</mat-label>
    <input matInput type="text" id="formal_title" [(ngModel)]="contact.formal_title" name="formal_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Communication Style</mat-label>
    <input matInput type="text" id="communication_style_id" [(ngModel)]="contact.communication_style_id" name="communication_style_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Greeting ID</mat-label>
    <input matInput type="text" id="email_greeting_id" [(ngModel)]="contact.email_greeting_id" name="email_greeting_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Greeting Custom</mat-label>
    <input matInput type="text" id="email_greeting_custom" [(ngModel)]="contact.email_greeting_custom" name="email_greeting_custom">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Greeting</mat-label>
    <input matInput type="text" id="email_greeting_display" [(ngModel)]="contact.email_greeting_display" name="email_greeting_display">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postal Greeting ID</mat-label>
    <input matInput type="text" id="postal_greeting_id" [(ngModel)]="contact.postal_greeting_id" name="postal_greeting_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postal Greeting Custom</mat-label>
    <input matInput type="text" id="postal_greeting_custom" [(ngModel)]="contact.postal_greeting_custom" name="postal_greeting_custom">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Postal Greeting</mat-label>
    <input matInput type="text" id="postal_greeting_display" [(ngModel)]="contact.postal_greeting_display" name="postal_greeting_display">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Addressee ID</mat-label>
    <input matInput type="text" id="addressee_id" [(ngModel)]="contact.addressee_id" name="addressee_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Addressee Custom</mat-label>
    <input matInput type="text" id="addressee_custom" [(ngModel)]="contact.addressee_custom" name="addressee_custom">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Addressee</mat-label>
    <input matInput type="text" id="addressee_display" [(ngModel)]="contact.addressee_display" name="addressee_display">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Job Title</mat-label>
    <input matInput type="text" id="job_title" [(ngModel)]="contact.job_title" name="job_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gender</mat-label>
    <input matInput type="text" id="gender_id" [(ngModel)]="contact.gender_id" name="gender_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Birth Date</mat-label>
    <input matInput type="text" id="birth_date" [(ngModel)]="contact.birth_date" name="birth_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deceased</mat-label>
    <input matInput type="text" id="is_deceased" [(ngModel)]="contact.is_deceased" name="is_deceased">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deceased Date</mat-label>
    <input matInput type="text" id="deceased_date" [(ngModel)]="contact.deceased_date" name="deceased_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Household Name</mat-label>
    <input matInput type="text" id="household_name" [(ngModel)]="contact.household_name" name="household_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Household Primary Contact ID</mat-label>
    <input matInput type="text" id="primary_contact_id" [(ngModel)]="contact.primary_contact_id" name="primary_contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Organization Name</mat-label>
    <input matInput type="text" id="organization_name" [(ngModel)]="contact.organization_name" name="organization_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sic Code</mat-label>
    <input matInput type="text" id="sic_code" [(ngModel)]="contact.sic_code" name="sic_code">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Unique ID (OpenID)</mat-label>
    <input matInput type="text" id="user_unique_id" [(ngModel)]="contact.user_unique_id" name="user_unique_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Current Employer</mat-label>
    <input matInput type="text" id="employer_id" [(ngModel)]="contact.employer_id" name="employer_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact is in Trash</mat-label>
    <input matInput type="text" id="is_deleted" [(ngModel)]="contact.is_deleted" name="is_deleted">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="contact.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="contact.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Camera Skill Level</mat-label>
    <input matInput type="text" id="custom_11" [(ngModel)]="contact.custom_11" name="custom_11">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Most Important Issue</mat-label>
    <input matInput type="text" id="custom_1" [(ngModel)]="contact.custom_1" name="custom_1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Marital Status</mat-label>
    <input matInput type="text" id="custom_2" [(ngModel)]="contact.custom_2" name="custom_2">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Marriage Date</mat-label>
    <input matInput type="text" id="custom_3" [(ngModel)]="contact.custom_3" name="custom_3">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address ID</mat-label>
    <input matInput type="text" id="address_id" [(ngModel)]="contact.address_id" name="address_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Street Address</mat-label>
    <input matInput type="text" id="street_address" [(ngModel)]="contact.street_address" name="street_address">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Supplemental Address 1</mat-label>
    <input matInput type="text" id="supplemental_address_1" [(ngModel)]="contact.supplemental_address_1" name="supplemental_address_1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Supplemental Address 2</mat-label>
    <input matInput type="text" id="supplemental_address_2" [(ngModel)]="contact.supplemental_address_2" name="supplemental_address_2">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Supplemental Address 3</mat-label>
    <input matInput type="text" id="supplemental_address_3" [(ngModel)]="contact.supplemental_address_3" name="supplemental_address_3">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Current Employer</mat-label>
    <input matInput type="text" id="current_employer" [(ngModel)]="contact.current_employer" name="current_employer">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address City</mat-label>
    <input matInput type="text" id="city" [(ngModel)]="contact.city" name="city">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Post Code Suffix</mat-label>
    <input matInput type="text" id="postal_code_suffix" [(ngModel)]="contact.postal_code_suffix" name="postal_code_suffix">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Post Code</mat-label>
    <input matInput type="text" id="postal_code" [(ngModel)]="contact.postal_code" name="postal_code">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Latitude</mat-label>
    <input matInput type="text" id="geo_code_1" [(ngModel)]="contact.geo_code_1" name="geo_code_1">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Longitude</mat-label>
    <input matInput type="text" id="geo_code_2" [(ngModel)]="contact.geo_code_2" name="geo_code_2">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address State Province ID</mat-label>
    <input matInput type="text" id="state_province_id" [(ngModel)]="contact.state_province_id" name="state_province_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address State Province Name</mat-label>
    <input matInput type="text" id="state_province_name" [(ngModel)]="contact.state_province_name" name="state_province_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address State Province</mat-label>
    <input matInput type="text" id="state_province" [(ngModel)]="contact.state_province" name="state_province">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address Country ID</mat-label>
    <input matInput type="text" id="country_id" [(ngModel)]="contact.country_id" name="country_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address country</mat-label>
    <input matInput type="text" id="country" [(ngModel)]="contact.country" name="country">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address World Region ID</mat-label>
    <input matInput type="text" id="worldregion_id" [(ngModel)]="contact.worldregion_id" name="worldregion_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Address World Region</mat-label>
    <input matInput type="text" id="worldregion" [(ngModel)]="contact.worldregion" name="worldregion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Phone ID</mat-label>
    <input matInput type="text" id="phone_id" [(ngModel)]="contact.phone_id" name="phone_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Phone</mat-label>
    <input matInput type="text" id="phone" [(ngModel)]="contact.phone" name="phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Phone Type ID</mat-label>
    <input matInput type="text" id="phone_type_id" [(ngModel)]="contact.phone_type_id" name="phone_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Phone Provider ID</mat-label>
    <input matInput type="text" id="provider_id" [(ngModel)]="contact.provider_id" name="provider_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Email ID</mat-label>
    <input matInput type="text" id="email_id" [(ngModel)]="contact.email_id" name="email_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Email</mat-label>
    <input matInput type="text" id="email" [(ngModel)]="contact.email" name="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Email On Hold</mat-label>
    <input matInput type="text" id="on_hold" [(ngModel)]="contact.on_hold" name="on_hold">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Instant Messenger</mat-label>
    <input matInput type="text" id="im" [(ngModel)]="contact.im" name="im">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Instant Messenger ID</mat-label>
    <input matInput type="text" id="im_id" [(ngModel)]="contact.im_id" name="im_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group</mat-label>
    <input matInput type="text" id="group" [(ngModel)]="contact.group" name="group">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <input matInput type="text" id="tag" [(ngModel)]="contact.tag" name="tag">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Birth Date is equal to or greater than</mat-label>
    <input matInput type="text" id="birth_date_low" [(ngModel)]="contact.birth_date_low" name="birth_date_low">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Birth Date is equal to or less than</mat-label>
    <input matInput type="text" id="birth_date_high" [(ngModel)]="contact.birth_date_high" name="birth_date_high">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deceased Date is equal to or greater than</mat-label>
    <input matInput type="text" id="deceased_date_low" [(ngModel)]="contact.deceased_date_low" name="deceased_date_low">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deceased Date is equal to or less than</mat-label>
    <input matInput type="text" id="deceased_date_high" [(ngModel)]="contact.deceased_date_high" name="deceased_date_high">
  </mat-form-field>
  
</mat-card>
<div class="component component-contact">
  <div class="entity-title"></div>
</div>
