<mat-card>
  <mat-card-title>
    UFMatch
  </mat-card-title>
  <mat-form-field>
    <mat-label>UF Match ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="uFMatch.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>UF Match Domain ID</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="uFMatch.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CMS ID</mat-label>
    <input matInput type="text" id="uf_id" [(ngModel)]="uFMatch.uf_id" name="uf_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CMS Unique Identifier</mat-label>
    <input matInput type="text" id="uf_name" [(ngModel)]="uFMatch.uf_name" name="uf_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CiviCRM Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="uFMatch.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Preferred Language</mat-label>
    <input matInput type="text" id="language" [(ngModel)]="uFMatch.language" name="language">
  </mat-form-field>
  
</mat-card>
<div class="component component-u-f-match">
  <div class="entity-title"></div>
</div>
