<mat-card>
  <mat-card-title>
    EntityTag
  </mat-card-title>
  <mat-form-field>
    <mat-label>Entity Tag ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="entityTag.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity Table</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="entityTag.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity ID</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="entityTag.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tag</mat-label>
    <input matInput type="text" id="tag_id" [(ngModel)]="entityTag.tag_id" name="tag_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-entity-tag">
  <div class="entity-title"></div>
</div>
