<mat-card>
  <mat-card-title>
    FinancialAccount
  </mat-card-title>
  <mat-form-field>
    <mat-label>Financial Account ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="financialAccount.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Account Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="financialAccount.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="financialAccount.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Account Type</mat-label>
    <input matInput type="text" id="financial_account_type_id" [(ngModel)]="financialAccount.financial_account_type_id" name="financial_account_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Accounting Code</mat-label>
    <input matInput type="text" id="accounting_code" [(ngModel)]="financialAccount.accounting_code" name="accounting_code">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Account Type Code</mat-label>
    <input matInput type="text" id="account_type_code" [(ngModel)]="financialAccount.account_type_code" name="account_type_code">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Account Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="financialAccount.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Account Parent</mat-label>
    <input matInput type="text" id="parent_id" [(ngModel)]="financialAccount.parent_id" name="parent_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Header Financial Account?</mat-label>
    <input matInput type="text" id="is_header_account" [(ngModel)]="financialAccount.is_header_account" name="is_header_account">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deductible Financial Account?</mat-label>
    <input matInput type="text" id="is_deductible" [(ngModel)]="financialAccount.is_deductible" name="is_deductible">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tax Financial Account?</mat-label>
    <input matInput type="text" id="is_tax" [(ngModel)]="financialAccount.is_tax" name="is_tax">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Account Tax Rate</mat-label>
    <input matInput type="text" id="tax_rate" [(ngModel)]="financialAccount.tax_rate" name="tax_rate">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Reserved Financial Account?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="financialAccount.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Account is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="financialAccount.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Default Financial Account</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="financialAccount.is_default" name="is_default">
  </mat-form-field>
  
</mat-card>
<div class="component component-financial-account">
  <div class="entity-title"></div>
</div>
