<mat-card>
  <mat-card-title>
    EntityFinancialAccount
  </mat-card-title>
  <mat-form-field>
    <mat-label>Entity Financial Account ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="entityFinancialAccount.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity Table</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="entityFinancialAccount.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity ID</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="entityFinancialAccount.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Account Relationship</mat-label>
    <input matInput type="text" id="account_relationship" [(ngModel)]="entityFinancialAccount.account_relationship" name="account_relationship">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Account</mat-label>
    <input matInput type="text" id="financial_account_id" [(ngModel)]="entityFinancialAccount.financial_account_id" name="financial_account_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-entity-financial-account">
  <div class="entity-title"></div>
</div>
