<mat-card>
  <mat-card-title>
    ContactType
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contact Type ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="contactType.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="contactType.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="contactType.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="contactType.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type Image URL</mat-label>
    <input matInput type="text" id="image_URL" [(ngModel)]="contactType.image_URL" name="image_URL">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type Parent</mat-label>
    <input matInput type="text" id="parent_id" [(ngModel)]="contactType.parent_id" name="parent_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="contactType.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type is Reserved?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="contactType.is_reserved" name="is_reserved">
  </mat-form-field>
  
</mat-card>
<div class="component component-contact-type">
  <div class="entity-title"></div>
</div>
