<mat-card>
  <mat-card-title>
    EntityBatch
  </mat-card-title>
  <mat-form-field>
    <mat-label>EntityBatch ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="entityBatch.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>EntityBatch Table</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="entityBatch.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity ID</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="entityBatch.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Batch ID</mat-label>
    <input matInput type="text" id="batch_id" [(ngModel)]="entityBatch.batch_id" name="batch_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-entity-batch">
  <div class="entity-title"></div>
</div>
