<mat-card>
  <mat-card-title>
    SmsProvider
  </mat-card-title>
  <mat-form-field>
    <mat-label>SMS Provider ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="smsProvider.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="smsProvider.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="smsProvider.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider Username</mat-label>
    <input matInput type="text" id="username" [(ngModel)]="smsProvider.username" name="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider Password</mat-label>
    <input matInput type="text" id="password" [(ngModel)]="smsProvider.password" name="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider API</mat-label>
    <input matInput type="text" id="api_type" [(ngModel)]="smsProvider.api_type" name="api_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider API URL</mat-label>
    <input matInput type="text" id="api_url" [(ngModel)]="smsProvider.api_url" name="api_url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider API Params</mat-label>
    <input matInput type="text" id="api_params" [(ngModel)]="smsProvider.api_params" name="api_params">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider is Default?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="smsProvider.is_default" name="is_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Provider is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="smsProvider.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SMS Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="smsProvider.domain_id" name="domain_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-sms-provider">
  <div class="entity-title"></div>
</div>
