<mat-card>
  <mat-card-title>
    Attachment
  </mat-card-title>
  <mat-form-field>
    <mat-label>File ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="attachment.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name (write-once)</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="attachment.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Name (write-once)</mat-label>
    <input matInput type="text" id="field_name" [(ngModel)]="attachment.field_name" name="field_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mime Type</mat-label>
    <input matInput type="text" id="mime_type" [(ngModel)]="attachment.mime_type" name="mime_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>File Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="attachment.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>File Upload Date</mat-label>
    <input matInput type="text" id="upload_date" [(ngModel)]="attachment.upload_date" name="upload_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity Table (write-once)</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="attachment.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Entity ID (write-once)</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="attachment.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>URL (read-only)</mat-label>
    <input matInput type="text" id="url" [(ngModel)]="attachment.url" name="url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Path (read-only)</mat-label>
    <input matInput type="text" id="path" [(ngModel)]="attachment.path" name="path">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Content</mat-label>
    <input matInput type="text" id="content" [(ngModel)]="attachment.content" name="content">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created By Contact ID</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="attachment.created_id" name="created_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-attachment">
  <div class="entity-title"></div>
</div>
