<mat-card>
  <mat-card-title>
    PriceField
  </mat-card-title>
  <mat-form-field>
    <mat-label>Price Field ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="priceField.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set</mat-label>
    <input matInput type="text" id="price_set_id" [(ngModel)]="priceField.price_set_id" name="price_set_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="priceField.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="priceField.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Html Type</mat-label>
    <input matInput type="text" id="html_type" [(ngModel)]="priceField.html_type" name="html_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Quantity Required?</mat-label>
    <input matInput type="text" id="is_enter_qty" [(ngModel)]="priceField.is_enter_qty" name="is_enter_qty">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Pre Text</mat-label>
    <input matInput type="text" id="help_pre" [(ngModel)]="priceField.help_pre" name="help_pre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Post Text</mat-label>
    <input matInput type="text" id="help_post" [(ngModel)]="priceField.help_post" name="help_post">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="priceField.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Show Amounts?</mat-label>
    <input matInput type="text" id="is_display_amounts" [(ngModel)]="priceField.is_display_amounts" name="is_display_amounts">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Options per Row</mat-label>
    <input matInput type="text" id="options_per_line" [(ngModel)]="priceField.options_per_line" name="options_per_line">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="priceField.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field is Required?</mat-label>
    <input matInput type="text" id="is_required" [(ngModel)]="priceField.is_required" name="is_required">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Start Date</mat-label>
    <input matInput type="text" id="active_on" [(ngModel)]="priceField.active_on" name="active_on">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field End Date</mat-label>
    <input matInput type="text" id="expire_on" [(ngModel)]="priceField.expire_on" name="expire_on">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Javascript</mat-label>
    <input matInput type="text" id="javascript" [(ngModel)]="priceField.javascript" name="javascript">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Visibility</mat-label>
    <input matInput type="text" id="visibility_id" [(ngModel)]="priceField.visibility_id" name="visibility_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-price-field">
  <div class="entity-title"></div>
</div>
