<mat-card>
  <mat-card-title>
    PrintLabel
  </mat-card-title>
  <mat-form-field>
    <mat-label>Print Label ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="printLabel.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="printLabel.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="printLabel.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="printLabel.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label Format</mat-label>
    <input matInput type="text" id="label_format_name" [(ngModel)]="printLabel.label_format_name" name="label_format_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label Type</mat-label>
    <input matInput type="text" id="label_type_id" [(ngModel)]="printLabel.label_type_id" name="label_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Data</mat-label>
    <input matInput type="text" id="data" [(ngModel)]="printLabel.data" name="data">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label is Default?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="printLabel.is_default" name="is_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="printLabel.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Label Reserved?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="printLabel.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="printLabel.created_id" name="created_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-print-label">
  <div class="entity-title"></div>
</div>
