<mat-card>
  <mat-card-title>
    ReportInstance
  </mat-card-title>
  <mat-form-field>
    <mat-label>Report Instance ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="reportInstance.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Domain ID</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="reportInstance.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="reportInstance.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report template ID</mat-label>
    <input matInput type="text" id="report_id" [(ngModel)]="reportInstance.report_id" name="report_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report instance Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="reportInstance.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Arguments</mat-label>
    <input matInput type="text" id="args" [(ngModel)]="reportInstance.args" name="args">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="reportInstance.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Permissions</mat-label>
    <input matInput type="text" id="permission" [(ngModel)]="reportInstance.permission" name="permission">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Assigned to Roles</mat-label>
    <input matInput type="text" id="grouprole" [(ngModel)]="reportInstance.grouprole" name="grouprole">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Submitted Form Values</mat-label>
    <input matInput type="text" id="form_values" [(ngModel)]="reportInstance.form_values" name="form_values">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="reportInstance.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Created By</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="reportInstance.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Owned By</mat-label>
    <input matInput type="text" id="owner_id" [(ngModel)]="reportInstance.owner_id" name="owner_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance email Subject</mat-label>
    <input matInput type="text" id="email_subject" [(ngModel)]="reportInstance.email_subject" name="email_subject">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Report Instance To</mat-label>
    <input matInput type="text" id="email_to" [(ngModel)]="reportInstance.email_to" name="email_to">
  </mat-form-field>
  <mat-form-field>
    <mat-label>cc Email Report Instance To</mat-label>
    <input matInput type="text" id="email_cc" [(ngModel)]="reportInstance.email_cc" name="email_cc">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Header</mat-label>
    <input matInput type="text" id="header" [(ngModel)]="reportInstance.header" name="header">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Report Instance Footer</mat-label>
    <input matInput type="text" id="footer" [(ngModel)]="reportInstance.footer" name="footer">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Navigation ID</mat-label>
    <input matInput type="text" id="navigation_id" [(ngModel)]="reportInstance.navigation_id" name="navigation_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Drilldown Report ID</mat-label>
    <input matInput type="text" id="drilldown_id" [(ngModel)]="reportInstance.drilldown_id" name="drilldown_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Instance is Reserved</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="reportInstance.is_reserved" name="is_reserved">
  </mat-form-field>
  
</mat-card>
<div class="component component-report-instance">
  <div class="entity-title"></div>
</div>
