<mat-card>
  <mat-card-title>
    CiviRuleTrigger
  </mat-card-title>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="id" [(ngModel)]="civiRuleTrigger.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="name" [(ngModel)]="civiRuleTrigger.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="label" [(ngModel)]="civiRuleTrigger.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="object_name" [(ngModel)]="civiRuleTrigger.object_name" name="object_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="op" [(ngModel)]="civiRuleTrigger.op" name="op">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="cron" [(ngModel)]="civiRuleTrigger.cron" name="cron">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="class_name" [(ngModel)]="civiRuleTrigger.class_name" name="class_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="civiRuleTrigger.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="civiRuleTrigger.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_user_id" [(ngModel)]="civiRuleTrigger.created_user_id" name="created_user_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="civiRuleTrigger.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_user_id" [(ngModel)]="civiRuleTrigger.modified_user_id" name="modified_user_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-civi-rule-trigger">
  <div class="entity-title"></div>
</div>
