<mat-card>
  <mat-card-title>
    LocBlock
  </mat-card-title>
  <mat-form-field>
    <mat-label>Location Block ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="locBlock.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Block Address</mat-label>
    <input matInput type="text" id="address_id" [(ngModel)]="locBlock.address_id" name="address_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Block Email</mat-label>
    <input matInput type="text" id="email_id" [(ngModel)]="locBlock.email_id" name="email_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Block Phone</mat-label>
    <input matInput type="text" id="phone_id" [(ngModel)]="locBlock.phone_id" name="phone_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Block IM</mat-label>
    <input matInput type="text" id="im_id" [(ngModel)]="locBlock.im_id" name="im_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Block IM 2</mat-label>
    <input matInput type="text" id="address_2_id" [(ngModel)]="locBlock.address_2_id" name="address_2_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email 2</mat-label>
    <input matInput type="text" id="email_2_id" [(ngModel)]="locBlock.email_2_id" name="email_2_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone 2</mat-label>
    <input matInput type="text" id="phone_2_id" [(ngModel)]="locBlock.phone_2_id" name="phone_2_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Instant Messenger 2</mat-label>
    <input matInput type="text" id="im_2_id" [(ngModel)]="locBlock.im_2_id" name="im_2_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-loc-block">
  <div class="entity-title"></div>
</div>
