<mat-card>
  <mat-card-title>
    CustomField
  </mat-card-title>
  <mat-form-field>
    <mat-label>Custom Field ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="customField.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Group</mat-label>
    <input matInput type="text" id="custom_group_id" [(ngModel)]="customField.custom_group_id" name="custom_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="customField.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="customField.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Data Type</mat-label>
    <input matInput type="text" id="data_type" [(ngModel)]="customField.data_type" name="data_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field HTML Type</mat-label>
    <input matInput type="text" id="html_type" [(ngModel)]="customField.html_type" name="html_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Default</mat-label>
    <input matInput type="text" id="default_value" [(ngModel)]="customField.default_value" name="default_value">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Is Required?</mat-label>
    <input matInput type="text" id="is_required" [(ngModel)]="customField.is_required" name="is_required">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Allow Searching on Field?</mat-label>
    <input matInput type="text" id="is_searchable" [(ngModel)]="customField.is_searchable" name="is_searchable">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Search as a Range</mat-label>
    <input matInput type="text" id="is_search_range" [(ngModel)]="customField.is_search_range" name="is_search_range">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="customField.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Pre Text</mat-label>
    <input matInput type="text" id="help_pre" [(ngModel)]="customField.help_pre" name="help_pre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Post Text</mat-label>
    <input matInput type="text" id="help_post" [(ngModel)]="customField.help_post" name="help_post">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Formatting</mat-label>
    <input matInput type="text" id="mask" [(ngModel)]="customField.mask" name="mask">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Attributes</mat-label>
    <input matInput type="text" id="attributes" [(ngModel)]="customField.attributes" name="attributes">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Javascript</mat-label>
    <input matInput type="text" id="javascript" [(ngModel)]="customField.javascript" name="javascript">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Custom Field Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="customField.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field is Viewable</mat-label>
    <input matInput type="text" id="is_view" [(ngModel)]="customField.is_view" name="is_view">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Options Per Line</mat-label>
    <input matInput type="text" id="options_per_line" [(ngModel)]="customField.options_per_line" name="options_per_line">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Length</mat-label>
    <input matInput type="text" id="text_length" [(ngModel)]="customField.text_length" name="text_length">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Start Date</mat-label>
    <input matInput type="text" id="start_date_years" [(ngModel)]="customField.start_date_years" name="start_date_years">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field End Date</mat-label>
    <input matInput type="text" id="end_date_years" [(ngModel)]="customField.end_date_years" name="end_date_years">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Data Format</mat-label>
    <input matInput type="text" id="date_format" [(ngModel)]="customField.date_format" name="date_format">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Time Format</mat-label>
    <input matInput type="text" id="time_format" [(ngModel)]="customField.time_format" name="time_format">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Note Columns</mat-label>
    <input matInput type="text" id="note_columns" [(ngModel)]="customField.note_columns" name="note_columns">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Note Rows</mat-label>
    <input matInput type="text" id="note_rows" [(ngModel)]="customField.note_rows" name="note_rows">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Column Name</mat-label>
    <input matInput type="text" id="column_name" [(ngModel)]="customField.column_name" name="column_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Option Group</mat-label>
    <input matInput type="text" id="option_group_id" [(ngModel)]="customField.option_group_id" name="option_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Filter</mat-label>
    <input matInput type="text" id="filter" [(ngModel)]="customField.filter" name="filter">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Field Display</mat-label>
    <input matInput type="text" id="in_selector" [(ngModel)]="customField.in_selector" name="in_selector">
  </mat-form-field>
  
</mat-card>
<div class="component component-custom-field">
  <div class="entity-title"></div>
</div>
