<mat-card>
  <mat-card-title>
    RuleGroup
  </mat-card-title>
  <mat-form-field>
    <mat-label>Rule Group ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="ruleGroup.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact Type</mat-label>
    <input matInput type="text" id="contact_type" [(ngModel)]="ruleGroup.contact_type" name="contact_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Threshold</mat-label>
    <input matInput type="text" id="threshold" [(ngModel)]="ruleGroup.threshold" name="threshold">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Length</mat-label>
    <input matInput type="text" id="used" [(ngModel)]="ruleGroup.used" name="used">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="ruleGroup.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="ruleGroup.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Reserved?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="ruleGroup.is_reserved" name="is_reserved">
  </mat-form-field>
  
</mat-card>
<div class="component component-rule-group">
  <div class="entity-title"></div>
</div>
