<mat-card>
  <mat-card-title>
    MailSettings
  </mat-card-title>
  <mat-form-field>
    <mat-label>Mail Settings ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="mailSettings.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Settings Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="mailSettings.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Settings Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="mailSettings.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Default Mail Settings?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="mailSettings.is_default" name="is_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>email Domain</mat-label>
    <input matInput type="text" id="domain" [(ngModel)]="mailSettings.domain" name="domain">
  </mat-form-field>
  <mat-form-field>
    <mat-label>email Local Part</mat-label>
    <input matInput type="text" id="localpart" [(ngModel)]="mailSettings.localpart" name="localpart">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Return Path</mat-label>
    <input matInput type="text" id="return_path" [(ngModel)]="mailSettings.return_path" name="return_path">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Protocol</mat-label>
    <input matInput type="text" id="protocol" [(ngModel)]="mailSettings.protocol" name="protocol">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Server</mat-label>
    <input matInput type="text" id="server" [(ngModel)]="mailSettings.server" name="server">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Port</mat-label>
    <input matInput type="text" id="port" [(ngModel)]="mailSettings.port" name="port">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Account Username</mat-label>
    <input matInput type="text" id="username" [(ngModel)]="mailSettings.username" name="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Account Password</mat-label>
    <input matInput type="text" id="password" [(ngModel)]="mailSettings.password" name="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Account Uses SSL</mat-label>
    <input matInput type="text" id="is_ssl" [(ngModel)]="mailSettings.is_ssl" name="is_ssl">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mail Folder</mat-label>
    <input matInput type="text" id="source" [(ngModel)]="mailSettings.source" name="source">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity Status</mat-label>
    <input matInput type="text" id="activity_status" [(ngModel)]="mailSettings.activity_status" name="activity_status">
  </mat-form-field>
  
</mat-card>
<div class="component component-mail-settings">
  <div class="entity-title"></div>
</div>
