<mat-card>
  <mat-card-title>
    UFField
  </mat-card-title>
  <mat-form-field>
    <mat-label>Profile Field ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="uFField.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile ID</mat-label>
    <input matInput type="text" id="uf_group_id" [(ngModel)]="uFField.uf_group_id" name="uf_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Name</mat-label>
    <input matInput type="text" id="field_name" [(ngModel)]="uFField.field_name" name="field_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="uFField.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Is View Only</mat-label>
    <input matInput type="text" id="is_view" [(ngModel)]="uFField.is_view" name="is_view">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Is Required</mat-label>
    <input matInput type="text" id="is_required" [(ngModel)]="uFField.is_required" name="is_required">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="uFField.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Post Help</mat-label>
    <input matInput type="text" id="help_post" [(ngModel)]="uFField.help_post" name="help_post">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Pre Help</mat-label>
    <input matInput type="text" id="help_pre" [(ngModel)]="uFField.help_pre" name="help_pre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Visibility</mat-label>
    <input matInput type="text" id="visibility" [(ngModel)]="uFField.visibility" name="visibility">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Is a Filter</mat-label>
    <input matInput type="text" id="in_selector" [(ngModel)]="uFField.in_selector" name="in_selector">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Is Searchable</mat-label>
    <input matInput type="text" id="is_searchable" [(ngModel)]="uFField.is_searchable" name="is_searchable">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Location Type</mat-label>
    <input matInput type="text" id="location_type_id" [(ngModel)]="uFField.location_type_id" name="location_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Phone Type</mat-label>
    <input matInput type="text" id="phone_type_id" [(ngModel)]="uFField.phone_type_id" name="phone_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Website Type</mat-label>
    <input matInput type="text" id="website_type_id" [(ngModel)]="uFField.website_type_id" name="website_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="uFField.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Type</mat-label>
    <input matInput type="text" id="field_type" [(ngModel)]="uFField.field_type" name="field_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Is Reserved</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="uFField.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Profile Field Supports Multiple</mat-label>
    <input matInput type="text" id="is_multi_summary" [(ngModel)]="uFField.is_multi_summary" name="is_multi_summary">
  </mat-form-field>
  
</mat-card>
<div class="component component-u-f-field">
  <div class="entity-title"></div>
</div>
