<mat-card>
  <mat-card-title>
    Email
  </mat-card-title>
  <mat-form-field>
    <mat-label>Email ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="email.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Contact</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="email.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Location Type</mat-label>
    <input matInput type="text" id="location_type_id" [(ngModel)]="email.location_type_id" name="location_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" id="email" [(ngModel)]="email.email" name="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Primary email</mat-label>
    <input matInput type="text" id="is_primary" [(ngModel)]="email.is_primary" name="is_primary">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Billing Email?</mat-label>
    <input matInput type="text" id="is_billing" [(ngModel)]="email.is_billing" name="is_billing">
  </mat-form-field>
  <mat-form-field>
    <mat-label>On Hold</mat-label>
    <input matInput type="text" id="on_hold" [(ngModel)]="email.on_hold" name="on_hold">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Use for Bulk Mail</mat-label>
    <input matInput type="text" id="is_bulkmail" [(ngModel)]="email.is_bulkmail" name="is_bulkmail">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Hold Date</mat-label>
    <input matInput type="text" id="hold_date" [(ngModel)]="email.hold_date" name="hold_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Reset Date</mat-label>
    <input matInput type="text" id="reset_date" [(ngModel)]="email.reset_date" name="reset_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Signature Text</mat-label>
    <input matInput type="text" id="signature_text" [(ngModel)]="email.signature_text" name="signature_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Signature Html</mat-label>
    <input matInput type="text" id="signature_html" [(ngModel)]="email.signature_html" name="signature_html">
  </mat-form-field>
  
</mat-card>
<div class="component component-email">
  <div class="entity-title"></div>
</div>
