<mat-card>
  <mat-card-title>
    Cxn
  </mat-card-title>
  <mat-form-field>
    <mat-label>Connection ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="cxn.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Application GUID</mat-label>
    <input matInput type="text" id="app_guid" [(ngModel)]="cxn.app_guid" name="app_guid">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Application Metadata (JSON)</mat-label>
    <input matInput type="text" id="app_meta" [(ngModel)]="cxn.app_meta" name="app_meta">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Connection GUID</mat-label>
    <input matInput type="text" id="cxn_guid" [(ngModel)]="cxn.cxn_guid" name="cxn_guid">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Perm</mat-label>
    <input matInput type="text" id="perm" [(ngModel)]="cxn.perm" name="perm">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Options</mat-label>
    <input matInput type="text" id="options" [(ngModel)]="cxn.options" name="options">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="cxn.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="cxn.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="cxn.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fetched Date</mat-label>
    <input matInput type="text" id="fetched_date" [(ngModel)]="cxn.fetched_date" name="fetched_date">
  </mat-form-field>
  
</mat-card>
<div class="component component-cxn">
  <div class="entity-title"></div>
</div>
