<mat-card>
  <mat-card-title>
    CiviRuleCondition
  </mat-card-title>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="id" [(ngModel)]="civiRuleCondition.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="name" [(ngModel)]="civiRuleCondition.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="label" [(ngModel)]="civiRuleCondition.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="class_name" [(ngModel)]="civiRuleCondition.class_name" name="class_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="civiRuleCondition.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="civiRuleCondition.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="created_user_id" [(ngModel)]="civiRuleCondition.created_user_id" name="created_user_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="civiRuleCondition.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="modified_user_id" [(ngModel)]="civiRuleCondition.modified_user_id" name="modified_user_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-civi-rule-condition">
  <div class="entity-title"></div>
</div>
