<mat-card>
  <mat-card-title>
    Phone
  </mat-card-title>
  <mat-form-field>
    <mat-label>Phone ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="phone.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Contact</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="phone.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Location Type</mat-label>
    <input matInput type="text" id="location_type_id" [(ngModel)]="phone.location_type_id" name="location_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Phone Primary?</mat-label>
    <input matInput type="text" id="is_primary" [(ngModel)]="phone.is_primary" name="is_primary">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Billing Phone</mat-label>
    <input matInput type="text" id="is_billing" [(ngModel)]="phone.is_billing" name="is_billing">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mobile Provider</mat-label>
    <input matInput type="text" id="mobile_provider_id" [(ngModel)]="phone.mobile_provider_id" name="mobile_provider_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput type="text" id="phone" [(ngModel)]="phone.phone" name="phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Extension</mat-label>
    <input matInput type="text" id="phone_ext" [(ngModel)]="phone.phone_ext" name="phone_ext">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Numeric</mat-label>
    <input matInput type="text" id="phone_numeric" [(ngModel)]="phone.phone_numeric" name="phone_numeric">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone Type</mat-label>
    <input matInput type="text" id="phone_type_id" [(ngModel)]="phone.phone_type_id" name="phone_type_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-phone">
  <div class="entity-title"></div>
</div>
