<mat-card>
  <mat-card-title>
    MailingJob
  </mat-card-title>
  <mat-form-field>
    <mat-label>Mailing Job ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="mailingJob.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing</mat-label>
    <input matInput type="text" id="mailing_id" [(ngModel)]="mailingJob.mailing_id" name="mailing_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Scheduled Date</mat-label>
    <input matInput type="text" id="scheduled_date" [(ngModel)]="mailingJob.scheduled_date" name="scheduled_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job Start Date</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="mailingJob.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job End Date</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="mailingJob.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job Status</mat-label>
    <input matInput type="text" id="status" [(ngModel)]="mailingJob.status" name="status">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job Is Test?</mat-label>
    <input matInput type="text" id="is_test" [(ngModel)]="mailingJob.is_test" name="is_test">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job Type</mat-label>
    <input matInput type="text" id="job_type" [(ngModel)]="mailingJob.job_type" name="job_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job Parent</mat-label>
    <input matInput type="text" id="parent_id" [(ngModel)]="mailingJob.parent_id" name="parent_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job Offset</mat-label>
    <input matInput type="text" id="job_offset" [(ngModel)]="mailingJob.job_offset" name="job_offset">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Job Limit</mat-label>
    <input matInput type="text" id="job_limit" [(ngModel)]="mailingJob.job_limit" name="job_limit">
  </mat-form-field>
  
</mat-card>
<div class="component component-mailing-job">
  <div class="entity-title"></div>
</div>
