<mat-card>
  <mat-card-title>
    Product
  </mat-card-title>
  <mat-form-field>
    <mat-label>Product ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="product.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="product.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="product.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>SKU</mat-label>
    <input matInput type="text" id="sku" [(ngModel)]="product.sku" name="sku">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Options</mat-label>
    <input matInput type="text" id="options" [(ngModel)]="product.options" name="options">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image</mat-label>
    <input matInput type="text" id="image" [(ngModel)]="product.image" name="image">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Thumbnail</mat-label>
    <input matInput type="text" id="thumbnail" [(ngModel)]="product.thumbnail" name="thumbnail">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput type="text" id="price" [(ngModel)]="product.price" name="price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <input matInput type="text" id="currency" [(ngModel)]="product.currency" name="currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="product.financial_type_id" name="financial_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Contribution</mat-label>
    <input matInput type="text" id="min_contribution" [(ngModel)]="product.min_contribution" name="min_contribution">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cost</mat-label>
    <input matInput type="text" id="cost" [(ngModel)]="product.cost" name="cost">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="product.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Period Type</mat-label>
    <input matInput type="text" id="period_type" [(ngModel)]="product.period_type" name="period_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fixed Period Start Day</mat-label>
    <input matInput type="text" id="fixed_period_start_day" [(ngModel)]="product.fixed_period_start_day" name="fixed_period_start_day">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Duration Unit</mat-label>
    <input matInput type="text" id="duration_unit" [(ngModel)]="product.duration_unit" name="duration_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Duration Interval</mat-label>
    <input matInput type="text" id="duration_interval" [(ngModel)]="product.duration_interval" name="duration_interval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Frequency Unit</mat-label>
    <input matInput type="text" id="frequency_unit" [(ngModel)]="product.frequency_unit" name="frequency_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Frequency Interval</mat-label>
    <input matInput type="text" id="frequency_interval" [(ngModel)]="product.frequency_interval" name="frequency_interval">
  </mat-form-field>
  
</mat-card>
<div class="component component-product">
  <div class="entity-title"></div>
</div>
