<mat-card>
  <mat-card-title>
    MembershipBlock
  </mat-card-title>
  <mat-form-field>
    <mat-label>Membership Block ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="membershipBlock.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Entity Table</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="membershipBlock.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Entity ID</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="membershipBlock.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Membership Types</mat-label>
    <input matInput type="text" id="membership_types" [(ngModel)]="membershipBlock.membership_types" name="membership_types">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Default Type</mat-label>
    <input matInput type="text" id="membership_type_default" [(ngModel)]="membershipBlock.membership_type_default" name="membership_type_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Display Minimum Fee</mat-label>
    <input matInput type="text" id="display_min_fee" [(ngModel)]="membershipBlock.display_min_fee" name="display_min_fee">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Is Separate Payment</mat-label>
    <input matInput type="text" id="is_separate_payment" [(ngModel)]="membershipBlock.is_separate_payment" name="is_separate_payment">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block New Title</mat-label>
    <input matInput type="text" id="new_title" [(ngModel)]="membershipBlock.new_title" name="new_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block New Text</mat-label>
    <input matInput type="text" id="new_text" [(ngModel)]="membershipBlock.new_text" name="new_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Renewal Title</mat-label>
    <input matInput type="text" id="renewal_title" [(ngModel)]="membershipBlock.renewal_title" name="renewal_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Block Renewal Text</mat-label>
    <input matInput type="text" id="renewal_text" [(ngModel)]="membershipBlock.renewal_text" name="renewal_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Required</mat-label>
    <input matInput type="text" id="is_required" [(ngModel)]="membershipBlock.is_required" name="is_required">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="membershipBlock.is_active" name="is_active">
  </mat-form-field>
  
</mat-card>
<div class="component component-membership-block">
  <div class="entity-title"></div>
</div>
