<mat-card>
  <mat-card-title>
    Extension
  </mat-card-title>
  <mat-form-field>
    <mat-label>Extension ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="extension.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput type="text" id="type" [(ngModel)]="extension.type" name="type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Key</mat-label>
    <input matInput type="text" id="full_name" [(ngModel)]="extension.full_name" name="full_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="extension.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="extension.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>File</mat-label>
    <input matInput type="text" id="file" [(ngModel)]="extension.file" name="file">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Schema Version</mat-label>
    <input matInput type="text" id="schema_version" [(ngModel)]="extension.schema_version" name="schema_version">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Extension is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="extension.is_active" name="is_active">
  </mat-form-field>
  
</mat-card>
<div class="component component-extension">
  <div class="entity-title"></div>
</div>
