<mat-card>
  <mat-card-title>
    Event
  </mat-card-title>
  <mat-form-field>
    <mat-label>Event ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="event.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="event.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Summary</mat-label>
    <input matInput type="text" id="summary" [(ngModel)]="event.summary" name="summary">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="event.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Type</mat-label>
    <input matInput type="text" id="event_type_id" [(ngModel)]="event.event_type_id" name="event_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Participant Listing</mat-label>
    <input matInput type="text" id="participant_listing_id" [(ngModel)]="event.participant_listing_id" name="participant_listing_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Event Public</mat-label>
    <input matInput type="text" id="is_public" [(ngModel)]="event.is_public" name="is_public">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Start Date</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="event.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event End Date</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="event.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Online Registration</mat-label>
    <input matInput type="text" id="is_online_registration" [(ngModel)]="event.is_online_registration" name="is_online_registration">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Registration Link Text</mat-label>
    <input matInput type="text" id="registration_link_text" [(ngModel)]="event.registration_link_text" name="registration_link_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Registration Start Date</mat-label>
    <input matInput type="text" id="registration_start_date" [(ngModel)]="event.registration_start_date" name="registration_start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Registration End Date</mat-label>
    <input matInput type="text" id="registration_end_date" [(ngModel)]="event.registration_end_date" name="registration_end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max Participants</mat-label>
    <input matInput type="text" id="max_participants" [(ngModel)]="event.max_participants" name="max_participants">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Information</mat-label>
    <input matInput type="text" id="event_full_text" [(ngModel)]="event.event_full_text" name="event_full_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is this a PAID event?</mat-label>
    <input matInput type="text" id="is_monetary" [(ngModel)]="event.is_monetary" name="is_monetary">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="event.financial_type_id" name="financial_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Processor</mat-label>
    <input matInput type="text" id="payment_processor" [(ngModel)]="event.payment_processor" name="payment_processor">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Map Enabled</mat-label>
    <input matInput type="text" id="is_map" [(ngModel)]="event.is_map" name="is_map">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="event.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fee Label</mat-label>
    <input matInput type="text" id="fee_label" [(ngModel)]="event.fee_label" name="fee_label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>show location</mat-label>
    <input matInput type="text" id="is_show_location" [(ngModel)]="event.is_show_location" name="is_show_location">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Block ID</mat-label>
    <input matInput type="text" id="loc_block_id" [(ngModel)]="event.loc_block_id" name="loc_block_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Default Role</mat-label>
    <input matInput type="text" id="default_role_id" [(ngModel)]="event.default_role_id" name="default_role_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Introductory Message</mat-label>
    <input matInput type="text" id="intro_text" [(ngModel)]="event.intro_text" name="intro_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Footer Message</mat-label>
    <input matInput type="text" id="footer_text" [(ngModel)]="event.footer_text" name="footer_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmation Title</mat-label>
    <input matInput type="text" id="confirm_title" [(ngModel)]="event.confirm_title" name="confirm_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm Text</mat-label>
    <input matInput type="text" id="confirm_text" [(ngModel)]="event.confirm_text" name="confirm_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Footer Text</mat-label>
    <input matInput type="text" id="confirm_footer_text" [(ngModel)]="event.confirm_footer_text" name="confirm_footer_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is confirm email</mat-label>
    <input matInput type="text" id="is_email_confirm" [(ngModel)]="event.is_email_confirm" name="is_email_confirm">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmation Email Text</mat-label>
    <input matInput type="text" id="confirm_email_text" [(ngModel)]="event.confirm_email_text" name="confirm_email_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm From Name</mat-label>
    <input matInput type="text" id="confirm_from_name" [(ngModel)]="event.confirm_from_name" name="confirm_from_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirm From Email</mat-label>
    <input matInput type="text" id="confirm_from_email" [(ngModel)]="event.confirm_from_email" name="confirm_from_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cc Confirm</mat-label>
    <input matInput type="text" id="cc_confirm" [(ngModel)]="event.cc_confirm" name="cc_confirm">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Bcc Confirm</mat-label>
    <input matInput type="text" id="bcc_confirm" [(ngModel)]="event.bcc_confirm" name="bcc_confirm">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Default Fee ID</mat-label>
    <input matInput type="text" id="default_fee_id" [(ngModel)]="event.default_fee_id" name="default_fee_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Default Discount Fee ID</mat-label>
    <input matInput type="text" id="default_discount_fee_id" [(ngModel)]="event.default_discount_fee_id" name="default_discount_fee_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ThankYou Title</mat-label>
    <input matInput type="text" id="thankyou_title" [(ngModel)]="event.thankyou_title" name="thankyou_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>ThankYou Text</mat-label>
    <input matInput type="text" id="thankyou_text" [(ngModel)]="event.thankyou_text" name="thankyou_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Footer Text</mat-label>
    <input matInput type="text" id="thankyou_footer_text" [(ngModel)]="event.thankyou_footer_text" name="thankyou_footer_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pay Later Allowed</mat-label>
    <input matInput type="text" id="is_pay_later" [(ngModel)]="event.is_pay_later" name="is_pay_later">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pay Later Text</mat-label>
    <input matInput type="text" id="pay_later_text" [(ngModel)]="event.pay_later_text" name="pay_later_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pay Later Receipt Text</mat-label>
    <input matInput type="text" id="pay_later_receipt" [(ngModel)]="event.pay_later_receipt" name="pay_later_receipt">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Partial Payments Enabled</mat-label>
    <input matInput type="text" id="is_partial_payment" [(ngModel)]="event.is_partial_payment" name="is_partial_payment">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Initial Amount Label</mat-label>
    <input matInput type="text" id="initial_amount_label" [(ngModel)]="event.initial_amount_label" name="initial_amount_label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Initial Amount Help Text</mat-label>
    <input matInput type="text" id="initial_amount_help_text" [(ngModel)]="event.initial_amount_help_text" name="initial_amount_help_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Initial Amount</mat-label>
    <input matInput type="text" id="min_initial_amount" [(ngModel)]="event.min_initial_amount" name="min_initial_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Allow Multiple Registrations</mat-label>
    <input matInput type="text" id="is_multiple_registrations" [(ngModel)]="event.is_multiple_registrations" name="is_multiple_registrations">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maximum number of additional participants per registration</mat-label>
    <input matInput type="text" id="max_additional_participants" [(ngModel)]="event.max_additional_participants" name="max_additional_participants">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Does Event allow multiple registrations from same email address?</mat-label>
    <input matInput type="text" id="allow_same_participant_emails" [(ngModel)]="event.allow_same_participant_emails" name="allow_same_participant_emails">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Waitlist Enabled</mat-label>
    <input matInput type="text" id="has_waitlist" [(ngModel)]="event.has_waitlist" name="has_waitlist">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Requires Approval</mat-label>
    <input matInput type="text" id="requires_approval" [(ngModel)]="event.requires_approval" name="requires_approval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Expiration Time</mat-label>
    <input matInput type="text" id="expiration_time" [(ngModel)]="event.expiration_time" name="expiration_time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Allow Self-service Cancellation or Transfer</mat-label>
    <input matInput type="text" id="allow_selfcancelxfer" [(ngModel)]="event.allow_selfcancelxfer" name="allow_selfcancelxfer">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Self-service Cancellation or Transfer Time</mat-label>
    <input matInput type="text" id="selfcancelxfer_time" [(ngModel)]="event.selfcancelxfer_time" name="selfcancelxfer_time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Waitlist Text</mat-label>
    <input matInput type="text" id="waitlist_text" [(ngModel)]="event.waitlist_text" name="waitlist_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Approval Req Text</mat-label>
    <input matInput type="text" id="approval_req_text" [(ngModel)]="event.approval_req_text" name="approval_req_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is an Event Template</mat-label>
    <input matInput type="text" id="is_template" [(ngModel)]="event.is_template" name="is_template">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Template Title</mat-label>
    <input matInput type="text" id="template_title" [(ngModel)]="event.template_title" name="template_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Created By Contact ID</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="event.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="event.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <input matInput type="text" id="currency" [(ngModel)]="event.currency" name="currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="event.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is shared through social media</mat-label>
    <input matInput type="text" id="is_share" [(ngModel)]="event.is_share" name="is_share">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is the booking confirmation screen enabled?</mat-label>
    <input matInput type="text" id="is_confirm_enabled" [(ngModel)]="event.is_confirm_enabled" name="is_confirm_enabled">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Parent Event ID</mat-label>
    <input matInput type="text" id="parent_event_id" [(ngModel)]="event.parent_event_id" name="parent_event_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subevent Slot Label ID</mat-label>
    <input matInput type="text" id="slot_label_id" [(ngModel)]="event.slot_label_id" name="slot_label_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dedupe Rule</mat-label>
    <input matInput type="text" id="dedupe_rule_group_id" [(ngModel)]="event.dedupe_rule_group_id" name="dedupe_rule_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is billing block required</mat-label>
    <input matInput type="text" id="is_billing_required" [(ngModel)]="event.is_billing_required" name="is_billing_required">
  </mat-form-field>
  
</mat-card>
<div class="component component-event">
  <div class="entity-title"></div>
</div>
