<mat-card>
  <mat-card-title>
    ActivityContact
  </mat-card-title>
  <mat-form-field>
    <mat-label>Activity Contact ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="activityContact.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity ID</mat-label>
    <input matInput type="text" id="activity_id" [(ngModel)]="activityContact.activity_id" name="activity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact ID (match to contact)</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="activityContact.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Record Type ID</mat-label>
    <input matInput type="text" id="record_type_id" [(ngModel)]="activityContact.record_type_id" name="record_type_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-activity-contact">
  <div class="entity-title"></div>
</div>
