<mat-card>
  <mat-card-title>
    User
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="user.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CMS User ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="user.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="user.name" name="name">
  </mat-form-field>
  
</mat-card>
<div class="component component-user">
  <div class="entity-title"></div>
</div>
