<mat-card>
  <mat-card-title>
    Profile
  </mat-card-title>
  <mat-form-field>
    <mat-label>Profile ID</mat-label>
    <input matInput type="text" id="profile_id" [(ngModel)]="profile.profile_id" name="profile_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="profile.contact_id" name="contact_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-profile">
  <div class="entity-title"></div>
</div>
