<mat-card>
  <mat-card-title>
    OptionValue
  </mat-card-title>
  <mat-form-field>
    <mat-label>Option Value ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="optionValue.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Group ID</mat-label>
    <input matInput type="text" id="option_group_id" [(ngModel)]="optionValue.option_group_id" name="option_group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="optionValue.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Value</mat-label>
    <input matInput type="text" id="value" [(ngModel)]="optionValue.value" name="value">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="optionValue.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Grouping Name</mat-label>
    <input matInput type="text" id="grouping" [(ngModel)]="optionValue.grouping" name="grouping">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput type="text" id="filter" [(ngModel)]="optionValue.filter" name="filter">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option is Default?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="optionValue.is_default" name="is_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="optionValue.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="optionValue.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option is Header?</mat-label>
    <input matInput type="text" id="is_optgroup" [(ngModel)]="optionValue.is_optgroup" name="is_optgroup">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Is Reserved?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="optionValue.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="optionValue.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Component</mat-label>
    <input matInput type="text" id="component_id" [(ngModel)]="optionValue.component_id" name="component_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="optionValue.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Option Visibility</mat-label>
    <input matInput type="text" id="visibility_id" [(ngModel)]="optionValue.visibility_id" name="visibility_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Icon</mat-label>
    <input matInput type="text" id="icon" [(ngModel)]="optionValue.icon" name="icon">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Color</mat-label>
    <input matInput type="text" id="color" [(ngModel)]="optionValue.color" name="color">
  </mat-form-field>
  
</mat-card>
<div class="component component-option-value">
  <div class="entity-title"></div>
</div>
