<mat-card>
  <mat-card-title>
    Premium
  </mat-card-title>
  <mat-form-field>
    <mat-label>Premium ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="premium.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Premium Entity</mat-label>
    <input matInput type="text" id="entity_table" [(ngModel)]="premium.entity_table" name="entity_table">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Premium entity ID</mat-label>
    <input matInput type="text" id="entity_id" [(ngModel)]="premium.entity_id" name="entity_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Premium Active?</mat-label>
    <input matInput type="text" id="premiums_active" [(ngModel)]="premium.premiums_active" name="premiums_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Title for Premiums section</mat-label>
    <input matInput type="text" id="premiums_intro_title" [(ngModel)]="premium.premiums_intro_title" name="premiums_intro_title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Premium Introductory Text</mat-label>
    <input matInput type="text" id="premiums_intro_text" [(ngModel)]="premium.premiums_intro_text" name="premiums_intro_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Premium Contact Email</mat-label>
    <input matInput type="text" id="premiums_contact_email" [(ngModel)]="premium.premiums_contact_email" name="premiums_contact_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Premiums Contact Phone</mat-label>
    <input matInput type="text" id="premiums_contact_phone" [(ngModel)]="premium.premiums_contact_phone" name="premiums_contact_phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Display Minimum Contribution?</mat-label>
    <input matInput type="text" id="premiums_display_min_contribution" [(ngModel)]="premium.premiums_display_min_contribution" name="premiums_display_min_contribution">
  </mat-form-field>
  <mat-form-field>
    <mat-label>No Thank-you Text</mat-label>
    <input matInput type="text" id="premiums_nothankyou_label" [(ngModel)]="premium.premiums_nothankyou_label" name="premiums_nothankyou_label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>No Thank-you Position</mat-label>
    <input matInput type="text" id="premiums_nothankyou_position" [(ngModel)]="premium.premiums_nothankyou_position" name="premiums_nothankyou_position">
  </mat-form-field>
  
</mat-card>
<div class="component component-premium">
  <div class="entity-title"></div>
</div>
