<mat-card>
  <mat-card-title>
    Dashboard
  </mat-card-title>
  <mat-form-field>
    <mat-label>DashletID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="dashboard.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dashlet Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="dashboard.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dashlet Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="dashboard.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dashlet Title</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="dashboard.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dashlet URL</mat-label>
    <input matInput type="text" id="url" [(ngModel)]="dashboard.url" name="url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dashlet Permission</mat-label>
    <input matInput type="text" id="permission" [(ngModel)]="dashboard.permission" name="permission">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dashlet Permission Operator</mat-label>
    <input matInput type="text" id="permission_operator" [(ngModel)]="dashboard.permission_operator" name="permission_operator">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fullscreen URL</mat-label>
    <input matInput type="text" id="fullscreen_url" [(ngModel)]="dashboard.fullscreen_url" name="fullscreen_url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Dashlet Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="dashboard.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Dashlet Reserved?</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="dashboard.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cache Minutes</mat-label>
    <input matInput type="text" id="cache_minutes" [(ngModel)]="dashboard.cache_minutes" name="cache_minutes">
  </mat-form-field>
  
</mat-card>
<div class="component component-dashboard">
  <div class="entity-title"></div>
</div>
