<mat-card>
  <mat-card-title>
    PriceSet
  </mat-card-title>
  <mat-form-field>
    <mat-label>Price Set ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="priceSet.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="priceSet.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="priceSet.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Title</mat-label>
    <input matInput type="text" id="title" [(ngModel)]="priceSet.title" name="title">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Is Active?</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="priceSet.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Pre Help</mat-label>
    <input matInput type="text" id="help_pre" [(ngModel)]="priceSet.help_pre" name="help_pre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Post Help</mat-label>
    <input matInput type="text" id="help_post" [(ngModel)]="priceSet.help_post" name="help_post">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Javascript</mat-label>
    <input matInput type="text" id="javascript" [(ngModel)]="priceSet.javascript" name="javascript">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Extends</mat-label>
    <input matInput type="text" id="extends" [(ngModel)]="priceSet.extends" name="extends">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="priceSet.financial_type_id" name="financial_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Price Set Quick Config?</mat-label>
    <input matInput type="text" id="is_quick_config" [(ngModel)]="priceSet.is_quick_config" name="is_quick_config">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Set Is Reserved</mat-label>
    <input matInput type="text" id="is_reserved" [(ngModel)]="priceSet.is_reserved" name="is_reserved">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Minimum Amount</mat-label>
    <input matInput type="text" id="min_amount" [(ngModel)]="priceSet.min_amount" name="min_amount">
  </mat-form-field>
  
</mat-card>
<div class="component component-price-set">
  <div class="entity-title"></div>
</div>
