<mat-card>
  <mat-card-title>
    Mailing
  </mat-card-title>
  <mat-form-field>
    <mat-label>Mailing ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="mailing.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Domain</mat-label>
    <input matInput type="text" id="domain_id" [(ngModel)]="mailing.domain_id" name="domain_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Header</mat-label>
    <input matInput type="text" id="header_id" [(ngModel)]="mailing.header_id" name="header_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Footer</mat-label>
    <input matInput type="text" id="footer_id" [(ngModel)]="mailing.footer_id" name="footer_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Reply</mat-label>
    <input matInput type="text" id="reply_id" [(ngModel)]="mailing.reply_id" name="reply_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Unsubscribe</mat-label>
    <input matInput type="text" id="unsubscribe_id" [(ngModel)]="mailing.unsubscribe_id" name="unsubscribe_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Resubscribe</mat-label>
    <input matInput type="text" id="resubscribe_id" [(ngModel)]="mailing.resubscribe_id" name="resubscribe_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Opt Out</mat-label>
    <input matInput type="text" id="optout_id" [(ngModel)]="mailing.optout_id" name="optout_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="mailing.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Type</mat-label>
    <input matInput type="text" id="mailing_type" [(ngModel)]="mailing.mailing_type" name="mailing_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing From Name</mat-label>
    <input matInput type="text" id="from_name" [(ngModel)]="mailing.from_name" name="from_name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing From Email</mat-label>
    <input matInput type="text" id="from_email" [(ngModel)]="mailing.from_email" name="from_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Replyto Email</mat-label>
    <input matInput type="text" id="replyto_email" [(ngModel)]="mailing.replyto_email" name="replyto_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Template Type</mat-label>
    <input matInput type="text" id="template_type" [(ngModel)]="mailing.template_type" name="template_type">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Template Options (JSON)</mat-label>
    <input matInput type="text" id="template_options" [(ngModel)]="mailing.template_options" name="template_options">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <input matInput type="text" id="subject" [(ngModel)]="mailing.subject" name="subject">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Body Text</mat-label>
    <input matInput type="text" id="body_text" [(ngModel)]="mailing.body_text" name="body_text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Body Html</mat-label>
    <input matInput type="text" id="body_html" [(ngModel)]="mailing.body_html" name="body_html">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Url Tracking</mat-label>
    <input matInput type="text" id="url_tracking" [(ngModel)]="mailing.url_tracking" name="url_tracking">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Forward Replies</mat-label>
    <input matInput type="text" id="forward_replies" [(ngModel)]="mailing.forward_replies" name="forward_replies">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Auto Responder</mat-label>
    <input matInput type="text" id="auto_responder" [(ngModel)]="mailing.auto_responder" name="auto_responder">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Track Mailing?</mat-label>
    <input matInput type="text" id="open_tracking" [(ngModel)]="mailing.open_tracking" name="open_tracking">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Completed</mat-label>
    <input matInput type="text" id="is_completed" [(ngModel)]="mailing.is_completed" name="is_completed">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Message Template</mat-label>
    <input matInput type="text" id="msg_template_id" [(ngModel)]="mailing.msg_template_id" name="msg_template_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Override Verp</mat-label>
    <input matInput type="text" id="override_verp" [(ngModel)]="mailing.override_verp" name="override_verp">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Creator</mat-label>
    <input matInput type="text" id="created_id" [(ngModel)]="mailing.created_id" name="created_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Created Date</mat-label>
    <input matInput type="text" id="created_date" [(ngModel)]="mailing.created_date" name="created_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="mailing.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Scheduled By</mat-label>
    <input matInput type="text" id="scheduled_id" [(ngModel)]="mailing.scheduled_id" name="scheduled_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Scheduled Date</mat-label>
    <input matInput type="text" id="scheduled_date" [(ngModel)]="mailing.scheduled_date" name="scheduled_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Approved By</mat-label>
    <input matInput type="text" id="approver_id" [(ngModel)]="mailing.approver_id" name="approver_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Approved Date</mat-label>
    <input matInput type="text" id="approval_date" [(ngModel)]="mailing.approval_date" name="approval_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Approval Status</mat-label>
    <input matInput type="text" id="approval_status_id" [(ngModel)]="mailing.approval_status_id" name="approval_status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Approval Note</mat-label>
    <input matInput type="text" id="approval_note" [(ngModel)]="mailing.approval_note" name="approval_note">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Mailing Archived?</mat-label>
    <input matInput type="text" id="is_archived" [(ngModel)]="mailing.is_archived" name="is_archived">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Visibility</mat-label>
    <input matInput type="text" id="visibility" [(ngModel)]="mailing.visibility" name="visibility">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="mailing.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>No Duplicate emails?</mat-label>
    <input matInput type="text" id="dedupe_email" [(ngModel)]="mailing.dedupe_email" name="dedupe_email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing SMS Provider</mat-label>
    <input matInput type="text" id="sms_provider_id" [(ngModel)]="mailing.sms_provider_id" name="sms_provider_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Hash</mat-label>
    <input matInput type="text" id="hash" [(ngModel)]="mailing.hash" name="hash">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location Type</mat-label>
    <input matInput type="text" id="location_type_id" [(ngModel)]="mailing.location_type_id" name="location_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email Selection Method</mat-label>
    <input matInput type="text" id="email_selection_method" [(ngModel)]="mailing.email_selection_method" name="email_selection_method">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mailing Language</mat-label>
    <input matInput type="text" id="language" [(ngModel)]="mailing.language" name="language">
  </mat-form-field>
  
</mat-card>
<div class="component component-mailing">
  <div class="entity-title"></div>
</div>
