<mat-card>
  <mat-card-title>
    PriceFieldValue
  </mat-card-title>
  <mat-form-field>
    <mat-label>Price Field Value ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="priceFieldValue.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field</mat-label>
    <input matInput type="text" id="price_field_id" [(ngModel)]="priceFieldValue.price_field_id" name="price_field_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="priceFieldValue.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput type="text" id="label" [(ngModel)]="priceFieldValue.label" name="label">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" id="description" [(ngModel)]="priceFieldValue.description" name="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Help Pre</mat-label>
    <input matInput type="text" id="help_pre" [(ngModel)]="priceFieldValue.help_pre" name="help_pre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Help Post</mat-label>
    <input matInput type="text" id="help_post" [(ngModel)]="priceFieldValue.help_post" name="help_post">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput type="text" id="amount" [(ngModel)]="priceFieldValue.amount" name="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Count</mat-label>
    <input matInput type="text" id="count" [(ngModel)]="priceFieldValue.count" name="count">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max Value</mat-label>
    <input matInput type="text" id="max_value" [(ngModel)]="priceFieldValue.max_value" name="max_value">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Order</mat-label>
    <input matInput type="text" id="weight" [(ngModel)]="priceFieldValue.weight" name="weight">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Type</mat-label>
    <input matInput type="text" id="membership_type_id" [(ngModel)]="priceFieldValue.membership_type_id" name="membership_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Num Terms</mat-label>
    <input matInput type="text" id="membership_num_terms" [(ngModel)]="priceFieldValue.membership_num_terms" name="membership_num_terms">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Default Price Field Option?</mat-label>
    <input matInput type="text" id="is_default" [(ngModel)]="priceFieldValue.is_default" name="is_default">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Value is Active</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="priceFieldValue.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="priceFieldValue.financial_type_id" name="financial_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Non-deductible Amount</mat-label>
    <input matInput type="text" id="non_deductible_amount" [(ngModel)]="priceFieldValue.non_deductible_amount" name="non_deductible_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price Field Option Visibility</mat-label>
    <input matInput type="text" id="visibility_id" [(ngModel)]="priceFieldValue.visibility_id" name="visibility_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-price-field-value">
  <div class="entity-title"></div>
</div>
