<mat-card>
  <mat-card-title>
    GroupOrganization
  </mat-card-title>
  <mat-form-field>
    <mat-label>Group Organization ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="groupOrganization.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Group</mat-label>
    <input matInput type="text" id="group_id" [(ngModel)]="groupOrganization.group_id" name="group_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Organization</mat-label>
    <input matInput type="text" id="organization_id" [(ngModel)]="groupOrganization.organization_id" name="organization_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-group-organization">
  <div class="entity-title"></div>
</div>
