<mat-card>
  <mat-card-title>
    ContributionRecur
  </mat-card-title>
  <mat-form-field>
    <mat-label>Recurring Contribution ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="contributionRecur.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="contributionRecur.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput type="text" id="amount" [(ngModel)]="contributionRecur.amount" name="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Currency</mat-label>
    <input matInput type="text" id="currency" [(ngModel)]="contributionRecur.currency" name="currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Frequency Unit</mat-label>
    <input matInput type="text" id="frequency_unit" [(ngModel)]="contributionRecur.frequency_unit" name="frequency_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Interval (number of units)</mat-label>
    <input matInput type="text" id="frequency_interval" [(ngModel)]="contributionRecur.frequency_interval" name="frequency_interval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number of Installments</mat-label>
    <input matInput type="text" id="installments" [(ngModel)]="contributionRecur.installments" name="installments">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Contribution Started Date</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="contributionRecur.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Contribution Created Date</mat-label>
    <input matInput type="text" id="create_date" [(ngModel)]="contributionRecur.create_date" name="create_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Contribution Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="contributionRecur.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Contribution Cancel Date</mat-label>
    <input matInput type="text" id="cancel_date" [(ngModel)]="contributionRecur.cancel_date" name="cancel_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Contribution End Date</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="contributionRecur.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Processor ID</mat-label>
    <input matInput type="text" id="processor_id" [(ngModel)]="contributionRecur.processor_id" name="processor_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Token ID</mat-label>
    <input matInput type="text" id="payment_token_id" [(ngModel)]="contributionRecur.payment_token_id" name="payment_token_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Transaction ID</mat-label>
    <input matInput type="text" id="trxn_id" [(ngModel)]="contributionRecur.trxn_id" name="trxn_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Invoice ID</mat-label>
    <input matInput type="text" id="invoice_id" [(ngModel)]="contributionRecur.invoice_id" name="invoice_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Recurring Contribution Status</mat-label>
    <input matInput type="text" id="contribution_status_id" [(ngModel)]="contributionRecur.contribution_status_id" name="contribution_status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Test</mat-label>
    <input matInput type="text" id="is_test" [(ngModel)]="contributionRecur.is_test" name="is_test">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number of Cycle Day</mat-label>
    <input matInput type="text" id="cycle_day" [(ngModel)]="contributionRecur.cycle_day" name="cycle_day">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Next Scheduled Contribution Date</mat-label>
    <input matInput type="text" id="next_sched_contribution_date" [(ngModel)]="contributionRecur.next_sched_contribution_date" name="next_sched_contribution_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number of Failures</mat-label>
    <input matInput type="text" id="failure_count" [(ngModel)]="contributionRecur.failure_count" name="failure_count">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Retry Failed Attempt Date</mat-label>
    <input matInput type="text" id="failure_retry_date" [(ngModel)]="contributionRecur.failure_retry_date" name="failure_retry_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Auto Renew</mat-label>
    <input matInput type="text" id="auto_renew" [(ngModel)]="contributionRecur.auto_renew" name="auto_renew">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Processor</mat-label>
    <input matInput type="text" id="payment_processor_id" [(ngModel)]="contributionRecur.payment_processor_id" name="payment_processor_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="contributionRecur.financial_type_id" name="financial_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Payment Method</mat-label>
    <input matInput type="text" id="payment_instrument_id" [(ngModel)]="contributionRecur.payment_instrument_id" name="payment_instrument_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="contributionRecur.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Send email Receipt?</mat-label>
    <input matInput type="text" id="is_email_receipt" [(ngModel)]="contributionRecur.is_email_receipt" name="is_email_receipt">
  </mat-form-field>
  
</mat-card>
<div class="component component-contribution-recur">
  <div class="entity-title"></div>
</div>
