<mat-card>
  <mat-card-title>
    ContributionProduct
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contribution Product ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="contributionProduct.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product ID</mat-label>
    <input matInput type="text" id="product_id" [(ngModel)]="contributionProduct.product_id" name="product_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contribution ID</mat-label>
    <input matInput type="text" id="contribution_id" [(ngModel)]="contributionProduct.contribution_id" name="contribution_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Product Option</mat-label>
    <input matInput type="text" id="product_option" [(ngModel)]="contributionProduct.product_option" name="product_option">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input matInput type="text" id="quantity" [(ngModel)]="contributionProduct.quantity" name="quantity">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Fulfilled Date</mat-label>
    <input matInput type="text" id="fulfilled_date" [(ngModel)]="contributionProduct.fulfilled_date" name="fulfilled_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start date for premium</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="contributionProduct.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>End date for premium</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="contributionProduct.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Premium comment</mat-label>
    <input matInput type="text" id="comment" [(ngModel)]="contributionProduct.comment" name="comment">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Financial Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="contributionProduct.financial_type_id" name="financial_type_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-contribution-product">
  <div class="entity-title"></div>
</div>
