<mat-card>
  <mat-card-title>
    StateProvince
  </mat-card-title>
  <mat-form-field>
    <mat-label>State ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="stateProvince.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>State</mat-label>
    <input matInput type="text" id="name" [(ngModel)]="stateProvince.name" name="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>State Abbreviation</mat-label>
    <input matInput type="text" id="abbreviation" [(ngModel)]="stateProvince.abbreviation" name="abbreviation">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <input matInput type="text" id="country_id" [(ngModel)]="stateProvince.country_id" name="country_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-state-province">
  <div class="entity-title"></div>
</div>
