<mat-card>
  <mat-card-title>
    VolunteerNeed
  </mat-card-title>
  <mat-form-field>
    <mat-label>CiviVolunteer Need ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="volunteerNeed.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput type="text" id="project_id" [(ngModel)]="volunteerNeed.project_id" name="project_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Date and Time</mat-label>
    <input matInput type="text" id="start_time" [(ngModel)]="volunteerNeed.start_time" name="start_time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Date and Time</mat-label>
    <input matInput type="text" id="end_time" [(ngModel)]="volunteerNeed.end_time" name="end_time">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Duration</mat-label>
    <input matInput type="text" id="duration" [(ngModel)]="volunteerNeed.duration" name="duration">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Flexible</mat-label>
    <input matInput type="text" id="is_flexible" [(ngModel)]="volunteerNeed.is_flexible" name="is_flexible">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quantity</mat-label>
    <input matInput type="text" id="quantity" [(ngModel)]="volunteerNeed.quantity" name="quantity">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Visibility</mat-label>
    <input matInput type="text" id="visibility_id" [(ngModel)]="volunteerNeed.visibility_id" name="visibility_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Role</mat-label>
    <input matInput type="text" id="role_id" [(ngModel)]="volunteerNeed.role_id" name="role_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enabled</mat-label>
    <input matInput type="text" id="is_active" [(ngModel)]="volunteerNeed.is_active" name="is_active">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date of Creation</mat-label>
    <input matInput type="text" id="created" [(ngModel)]="volunteerNeed.created" name="created">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date of Last Update</mat-label>
    <input matInput type="text" id="last_updated" [(ngModel)]="volunteerNeed.last_updated" name="last_updated">
  </mat-form-field>
  
</mat-card>
<div class="component component-volunteer-need">
  <div class="entity-title"></div>
</div>
