<mat-card>
  <mat-card-title>
    CaseContact
  </mat-card-title>
  <mat-form-field>
    <mat-label>Case Contact ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="caseContact.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Case</mat-label>
    <input matInput type="text" id="case_id" [(ngModel)]="caseContact.case_id" name="case_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="caseContact.contact_id" name="contact_id">
  </mat-form-field>
  
</mat-card>
<div class="component component-case-contact">
  <div class="entity-title"></div>
</div>
