<mat-card>
  <mat-card-title>
    Membership
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="membership.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Type Id</mat-label>
    <input matInput type="text" id="membership_type_id" [(ngModel)]="membership.membership_type_id" name="membership_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Member Since</mat-label>
    <input matInput type="text" id="join_date" [(ngModel)]="membership.join_date" name="join_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Start Date</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="membership.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Expiration Date</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="membership.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Source</mat-label>
    <input matInput type="text" id="source" [(ngModel)]="membership.source" name="source">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Status Id</mat-label>
    <input matInput type="text" id="status_id" [(ngModel)]="membership.status_id" name="status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status Override</mat-label>
    <input matInput type="text" id="is_override" [(ngModel)]="membership.is_override" name="is_override">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status Override End Date</mat-label>
    <input matInput type="text" id="status_override_end_date" [(ngModel)]="membership.status_override_end_date" name="status_override_end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Primary Member ID</mat-label>
    <input matInput type="text" id="owner_membership_id" [(ngModel)]="membership.owner_membership_id" name="owner_membership_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Max Related</mat-label>
    <input matInput type="text" id="max_related" [(ngModel)]="membership.max_related" name="max_related">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Test</mat-label>
    <input matInput type="text" id="is_test" [(ngModel)]="membership.is_test" name="is_test">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Is Pay Later</mat-label>
    <input matInput type="text" id="is_pay_later" [(ngModel)]="membership.is_pay_later" name="is_pay_later">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership Recurring Contribution</mat-label>
    <input matInput type="text" id="contribution_recur_id" [(ngModel)]="membership.contribution_recur_id" name="contribution_recur_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="membership.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Membership ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="membership.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Active Only</mat-label>
    <input matInput type="text" id="active_only" [(ngModel)]="membership.active_only" name="active_only">
  </mat-form-field>
  
</mat-card>
<div class="component component-membership">
  <div class="entity-title"></div>
</div>
