<mat-card>
  <mat-card-title>
    Pledge
  </mat-card-title>
  <mat-form-field>
    <mat-label>Contact ID</mat-label>
    <input matInput type="text" id="contact_id" [(ngModel)]="pledge.contact_id" name="contact_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <input matInput type="text" id="financial_type_id" [(ngModel)]="pledge.financial_type_id" name="financial_type_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Contribution Page</mat-label>
    <input matInput type="text" id="contribution_page_id" [(ngModel)]="pledge.contribution_page_id" name="contribution_page_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Total Pledged</mat-label>
    <input matInput type="text" id="amount" [(ngModel)]="pledge.amount" name="amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Original Installment Amount</mat-label>
    <input matInput type="text" id="original_installment_amount" [(ngModel)]="pledge.original_installment_amount" name="original_installment_amount">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Currency</mat-label>
    <input matInput type="text" id="currency" [(ngModel)]="pledge.currency" name="currency">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Frequency Unit</mat-label>
    <input matInput type="text" id="frequency_unit" [(ngModel)]="pledge.frequency_unit" name="frequency_unit">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Frequency Interval</mat-label>
    <input matInput type="text" id="frequency_interval" [(ngModel)]="pledge.frequency_interval" name="frequency_interval">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge day</mat-label>
    <input matInput type="text" id="frequency_day" [(ngModel)]="pledge.frequency_day" name="frequency_day">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Number of Installments</mat-label>
    <input matInput type="text" id="installments" [(ngModel)]="pledge.installments" name="installments">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Start Date</mat-label>
    <input matInput type="text" id="start_date" [(ngModel)]="pledge.start_date" name="start_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Made</mat-label>
    <input matInput type="text" id="create_date" [(ngModel)]="pledge.create_date" name="create_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Acknowledged</mat-label>
    <input matInput type="text" id="acknowledge_date" [(ngModel)]="pledge.acknowledge_date" name="acknowledge_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Modified Date</mat-label>
    <input matInput type="text" id="modified_date" [(ngModel)]="pledge.modified_date" name="modified_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Cancelled Date</mat-label>
    <input matInput type="text" id="cancel_date" [(ngModel)]="pledge.cancel_date" name="cancel_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge End Date</mat-label>
    <input matInput type="text" id="end_date" [(ngModel)]="pledge.end_date" name="end_date">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maximum Number of Reminders</mat-label>
    <input matInput type="text" id="max_reminders" [(ngModel)]="pledge.max_reminders" name="max_reminders">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Initial Reminder Day</mat-label>
    <input matInput type="text" id="initial_reminder_day" [(ngModel)]="pledge.initial_reminder_day" name="initial_reminder_day">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Additional Reminder Days</mat-label>
    <input matInput type="text" id="additional_reminder_day" [(ngModel)]="pledge.additional_reminder_day" name="additional_reminder_day">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Status Id</mat-label>
    <input matInput type="text" id="status_id" [(ngModel)]="pledge.status_id" name="status_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Test</mat-label>
    <input matInput type="text" id="is_test" [(ngModel)]="pledge.is_test" name="is_test">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Campaign</mat-label>
    <input matInput type="text" id="campaign_id" [(ngModel)]="pledge.campaign_id" name="campaign_id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge ID</mat-label>
    <input matInput type="text" id="id" [(ngModel)]="pledge.id" name="id">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pledge Made</mat-label>
    <input matInput type="text" id="next_pay_date" [(ngModel)]="pledge.next_pay_date" name="next_pay_date">
  </mat-form-field>
  
</mat-card>
<div class="component component-pledge">
  <div class="entity-title"></div>
</div>
